In [5]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch02. 자료형과 연산자</font></b>
# 1절. 변수
- 변수 : 메모리 공가
- 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정도 없음
## 1.1 변수 할당
- 할당연산자(=)를 이용해서 값을 할당하면 자료형(타입)이 세팅
- ** 파이썬에서의 모든 변수는 객체로 저장 **

In [7]:
r=5
area = 3.14*r*r
print('넓이:',area)

넓이: 78.5

In [23]:
import numpy as np
area = np.pi * r * r
print('넓이:',area)

넓이: 78.53981633974483

In [27]:
print('area의 주소:', id(area))
print('area의 타입:', type(area))

area의 주소: 1553193676528
area의 타입: <class 'float'>

In [28]:
area.is_integer()

False

In [29]:
area = 10
print('area의 주소:', id(area))
print('area의 타입:', type(area))

area의 주소: 1553192649232
area의 타입: <class 'int'>

In [30]:
area = '파이썬'
print('area의 주소:', id(area))
print('area의 타입:', type(area))

area의 주소: 1553308764944
area의 타입: <class 'str'>

## 1.2 변수(함수) 이름 규칙
- 문자로 시작
- 문자(특수문자는 _만 가능), 숫자, _로 변수명 작성
- 함수명은 변수명으로 가능하나 피한다.
- 파이썬 예약어는 변수명 사용 불가(사용하면 예약어는 사용불가)
- 한글 변수 사용마라.

In [1]:
#숫자 : 정수, 실수, 복소수
i = 1 +3j
print(type(i))

<class 'complex'>

In [ ]:
isinstance(i, complex)

True

In [3]:
isinstance(i, int)

False

## 1.3 다중 변수 선언

In [4]:
a, b = 10, 20
print(a, b)

10 20

In [6]:
a, b = b, a+b #다중 변수 할당시 순차적 할당이 아니고, 일괄 동시 할당
print(a, b)

30 50

## 1.4 도움말

In [43]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [12]:
help()

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help>

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [13]:
# 도움말 기능 : shift + tab키
print()

In [7]:
def add(x, y=0):
    '''
    매개변수(x,y) 2개를 받아 두자리 숫자로 만드는 함수
    x=10의 자리수가 되고
    y = 1의자리수가 됨(default 0)
    '''
    return x*10 + y

In [8]:
add(3,4)

34

# 2절. 화면io

In [11]:
#input() : 사용자로부터 값을 입력받기 위함 함수. 입력값은 문자(str)로 받음.
first = input()
print(first)

10

In [12]:
first = input('첫번째 숫자는?')
second = input('두번째 숫자는?')
print( first , second)

10 20

In [13]:
first = input('첫번째 숫자는?')
second = input('두번째 숫자는?')
print( int(first) , int(second), add(int(first) , int(second)))

3 4 34

In [14]:
print( 'first', first , 'second', second, sep='/', end ='end\n')

first/3/second/4end

# 3절. 기본 자료형
- 자료형 : 변수가 가져야할 값의 형식. 자료형에 따라 값의 크기와 저장 방식 달라짐.
- 자료형에 따라 수행할 수 있는 명령어들이 다름.
    * `숫자` : int, float, complex
    * `문자` : str
    * `논리` : bool(true/false)

## 3.1 숫자형

In [15]:
import sys
print(sys.maxsize) #정수의 최대값 : 2**63 -1

9223372036854775807

In [16]:
f = 1.2e-20
print(f)
b=1.2e20
print(b)

1.2e-20
1.2e+20

In [17]:
#파이썬에서는 /의 결과는 모조건 실수
f = 3/2
print('f=',f)
f = 3//2
print('f=',f)

f= 1.5
f= 1

## 3.2 문자형

In [18]:
name = '홍길동\'짱\''
print(name)
name = "홍길동'짱'"
print(name)

홍길동'짱'
홍길동'짱'

In [19]:
text = "여러줄\t짜리 내용을 저장\n 줄바꿈 문자를 쓰면 됨\n 줄바꿈"
print(text)

text = '''여러줄\t짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈'''
print(text)

여러줄	짜리 내용을 저장
 줄바꿈 문자를 쓰면 됨
 줄바꿈
여러줄	짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈

###  문자열 연산(+,*)

In [20]:
name1 = '홍길동'
name2 = '동해번쩍'
print(name1+ name2)
print(name1, name2)
print(name1*3)

홍길동동해번쩍
홍길동 동해번쩍
홍길동홍길동홍길동

### raw 데이터
 - 용도 : 정규표현식 이용, 디렉토리 경로 표시

In [30]:
print(r'hello\n world')

hello\n world

### 정규표현식(regex)

    1. 참조 : 위키백과
    
    2. 간략문법
    
    \d (숫자와 매치, [0-9]와 동일)    
    \D 숫자가 아닌것    
    \w 영문자나 숫자    
    \W 영문자나 숫자가 아님    
    . (문자)    
    \. (.)    
    \- (-)    
    {2, } 2번이상 반복    
    {2, 4} 2번-4번 반복    
    ? 0번이나 1번    
    + 1번이상 반복    
    * 0번이상 반복
    
    3. 정규표현식 연습장    
    ex1. 전화번호 : 02 999 9999 029991234 010-9999-9999 010.123.1111 02)999-9999    
    \d{2,3}[ \)\.\-]?\d{3,4}[ \.\-]?\d{4}    
    ex2. 이메일 : abc12@naver.com abc12@sns.co.kr    
    \w+@\w+(\.\w+){1,2}    
    ex3. 주민번호 : 980101-12345678    
    \d{2}(0[1-9]|1[0-2])(0[1-9]|[12]\d|30|31)-[1-4]\d{6}

In [3]:
import re
data = "이름:홍길동, 주소:서울, 전화:02-888-8888, \
핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍\
혈액형:Bㅋㅋ ㅋㅋzz"
print(data)

이름:홍길동, 주소:서울, 전화:02-888-8888, 핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍혈액형:Bㅋㅋ ㅋㅋzz

In [34]:
tel_pattern = r"\d{2,3}[ \)\.\-]?\d{3,4}[ \.\-]?\d{4}"
tels = re.findall(tel_pattern, data)
tels

['02-888-8888', '010-9999-9999']

In [35]:
email_pattern = r"\w+@\w+(\.\w+){1,2}"
emails = re.findall(email_pattern, data)
emails

[]

In [36]:
firstTel = re.search(tel_pattern, data)
firstTel

In [37]:
tel_pattern = r"(\d{2,3})-(\d{3,4})-(\d{4})"
firstPhone = re.search(tel_pattern, data)
firstPhone

In [39]:
print('전체 전화번호:', firstPhone.group(0))
print('국번:', firstPhone.group(1))
print('중간 전화번호:', firstPhone.group(2))
print('끝 전화번호:', firstPhone.group(3))

전체 전화번호: 02-888-8888
국번: 02
중간 전화번호: 888
끝 전화번호: 8888

In [8]:
# data에서 특정한 데이터 제외
print(data)
re.sub("[^가-힣0-9A-Z\s]", ' ', data)
print(data)

이름:홍길동, 주소:서울, 전화:02-888-8888, 핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍혈액형:Bㅋㅋ ㅋㅋzz
이름:홍길동, 주소:서울, 전화:02-888-8888, 핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍혈액형:Bㅋㅋ ㅋㅋzz

In [12]:
#파일경로
file_path = r"C:\ai\source\01_python\data\ch02.txt"

In [13]:
file_stream = open(file_path, "w")
print("hello python.","hello world.", sep="\n") #화면 출력
print("hello python.","hello world.", sep="\n", file=file_stream) #파일 출력
file_stream.close() #연결 종료

hello python.
hello world.

### ※ 문자열 인덱싱

In [14]:
str_ = "0123456789"

In [17]:
str_[0], str_[2], str_[-1], str_[-3] # 음수 인텍싱은 맨 마지막이 -1

('0', '2', '9', '7')

In [18]:
str_[10] # 없으면 오류

IndexError: string index out of range

### ※ 문자열 슬라이싱

In [ ]:
'''
문자열변수[from:to] : from부터 to앞까지 추출
문자열변수[from:to:step] : from부터 to앞까지 step씩 전진하면서 추출
    from 생략시 처음
    to   생략시 끝
    step 생략시 1
'''

In [24]:
str_[0:3], str_[5:], str_[-5:-1], str_[0:10:2], str_[9:0:-1]

('012', '56789', '5678', '02468', '987654321')

In [26]:
print(str_[::-1])
print(str_[9::-1])
print(str_[-1::-1])

9876543210
9876543210
9876543210

## 3.3 논리형(True/False)

In [28]:
a=10>5
print(a)
print(type(a))
print(isinstance(a, bool))

True
<class 'bool'>
True

In [29]:
int(True), int(False)

(1, 0)

In [37]:
#False로 간주되는것 : 0, '', [], (), {}, None
#False로 판별되는 경우를 제외하고 모두 True
bool(1), bool(0), bool(100), bool(-100), bool(""), bool('홍길동'), bool(' ')

(True, False, True, True, False, True, True)

In [35]:
name = input('이름은?')
if name:
    print('당신 이름은', name)
else:
    print('이름 입력을 안함')

이름은?이이이
당신 이름은 이이이

## 3.4 자료형 확인 및 형변환 함수
 - type(변수)
 - isinstance(변수, 타입) : 변수가 해당 타입인지 여부
 - float() : 실수형으로 변환
 - int()   : 정수형으로 변환
 - str()   : 문자형으로 변환
 - bool()  : 논리형으로 변환

In [36]:
float(4), float('4.1'), int(4.9)

(4.0, 4.1, 4)

In [38]:
# 에러나는 경우들
#int(""), int(" "), int(None), int("123.9"), int("5,000")
# float(""), float(" "), float(None)

# 4절. 포맷팅
 - 포맷팅이란 출력할 문자, 숫자, 날짜 데이터의 형식을 지정하는 것

## 4.1 문자열에 형식 지정

In [22]:
name = "홍길동"
age = 30
print(name + '님의 나이는 ' + str(age) + '살입니다')
print(name, '님의 나이는 ', age, '살입니다')

홍길동님의 나이는 30살입니다
홍길동 님의 나이는  30 살입니다

In [23]:
# %s:문자, %d:10진수, %f:실수
print("%s님의 나이는 %d살입니다"%(name, age))
print(f"{name:>5s}님의 나이는 {age}살입니다")

홍길동님의 나이는 30살입니다
  홍길동님의 나이는 30살입니다

In [ ]:
print("{}님의 나이는 {}살입니다".format(name, age))
print("{0}님의 나이는 {1}살입니다".format(name, age))
print("{1:>5s}님의 나이는 {0:$<3d}살입니다".format(age, name)) # 문자 5자리 오른쪽 정렬, 10진수 3자리 왼쪽 정렬

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다
  홍길동님의 나이는 30$살입니다

## 4.2 format() 문법
"{[인덱스]:[공백대체문자][정렬방식][자릿수][타입]}".format(변수명)
* 인덱스 : format 함수안의 매개변수 순서
* 정렬방식 : <(왼쪽정렬), >(오른쪽정렬), ^(가운데정렬)
* 정수자릿수 : 출력할 자릿수
* 실수자릿수 : 전체출력될자리수.변수중에 출력할 자리수
* 타입 : d(10진수), o(8진수), x(16진수), b(2진수), f(실수), s(문자)
* 공백대체문자는 정렬방식을 명시하여 함

In [25]:
# 숫자의 경우 오른쪽정렬(기본)
# 문자의 경우 왼쪽정렬(기본)
# 변수보다 작은 자리수는 무시되고 다 출력
a = 12345
s = 'Hello'
print("[{0}] [{0:10}] [{0:3}]".format(a))
print("[{0}] [{0:10}] [{0:3}]".format(s))

[12345] [     12345] [12345]
[Hello] [Hello     ] [Hello]

In [26]:
a, b, c = 10, 20,3
print("[{:<4}] [{:^4}] [{:>4}]".format(a,b,c))

[10  ] [ 20 ] [   3]

In [27]:
# 공백대체문자를 쓸 경우 정렬방식 필수
a, f, s = 10, 12.567, 'Hello'
print("[{:>10}] [{:3.2f}] [{:>4.2}]".format(a,f,s))

[        10] [12.57] [  He]

In [28]:
# 자리수 앞에 +를 붙이면 양수에도 부호출력
# 부호나 소수점도 자리수에 포함
a, b = 123, -123
print("[{:+10}], [{:+10}], [{:10}]".format(a,b,a))
print("[{:=10}], [{:=10}], [{:10}]".format(a,b,a))
print("[{:=+10}], [{:=+10}], [{:10}]".format(a,b,a))

[      +123], [      -123], [       123]
[       123], [-      123], [       123]
[+      123], [-      123], [       123]

In [62]:
# 10진수, 8진수, 16진수, 2진수 출력
a=15
print("10진수 [{:4d}]".format(a))
print("8진수 [{:4o}]".format(a))
print("16진수 [{:4x}]".format(a))
print("2진수 [{:3b}]".format(a))

10진수 [  15]
8진수 [  17]
16진수 [   f]
2진수 [1111]

In [65]:
a=2.785
sign1 = "+"
width1 = 10
precision1 =4
print("[{:{}{}.{}}]".format(a, sign1, width1, precision1))
print("[{:{sign}{width}.{precision}}]".format(a, sign=sign1, width=width1, precision=precision1))

[    +2.785]
[    +2.785]

## 4.3 날짜출력

In [2]:
#import datetime # 모듈 전체를 메모리에 load
#datetime.__file__
from datetime import datetime # 모듈안의 하나만 load
thatday1 = datetime(2025, 9,11)
thatday2 = datetime(2025, 9,11, 14, 30, 0)
print(thatday1)
print(thatday2)

2025-09-11 00:00:00
2025-09-11 14:30:00

In [3]:
# Y(년도4자리) y(년도2자리) m(월) d(일) p(am/pm) I(12시간) H(24시간) M(분) S(초)
print("{:%Y년 %m월 %d일 %p %I %M분 %S초}".format(thatday1))

2025년 09월 11일 AM 12 00분 00초

In [4]:
# 현재의 날짜와 시간
# datetime(2025,9,11, 14, 30) : 특정한 날짜와 시간
now = datetime.now() # 지금
now - thatday1 # 날짜형 변수끼리 연산 가능

datetime.timedelta(days=68, seconds=34791, microseconds=463206)

In [5]:
# 지금(날짜와 시간) 원하는 스타일로 출력
print("{:%Y-%m-%d %p %I:%M}".format(now))
print(now.strftime("%Y-%m-%d %p %I:%M"))

2025-11-18 AM 09:39
2025-11-18 AM 09:39

In [6]:
# 지금을 문자열로 전환하는 함수
from time import strftime
strftime("%Y-%m-%d %p %I:%M")

'2025-11-18 AM 09:40'