In [39]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch03. 데이터 구조</font></b>
 - 리스트[80,"20"], 튜플(90,20), 딕셔너리{"name":"홍","score":50}, 셋{10,20}
# 1절 리스트
## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list()함수 이용도 가능
- 인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
- 슬라이싱([from:to:step]) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [2]:
fruit = 'banana'
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)
print(fruits)
fruits[0] #인덱싱을 이용한 읽기
# fruits[4] #없는 인덱싱시 오류

['banana', 'apple', 'orange', 'grape']

'banana'

In [3]:
fruits[0] = "mango" #인덱싱을 이용한 쓰기
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [4]:
fruits = ['mango', 'apple','orange']
x, y, z = ['mango', 'apple','orange']
print("x={}".format(x))
print(f"y={y}")
print(f"z={z}")

x=mango
y=apple
z=orange

In [5]:
# range(from, to, by) : from부터 to 앞까지 by씩 증가하는 나열 가능한 자료
# 숫자를 순차적으로 사용할 수 있게
# from 생략시 0, by 생략시 1
range(10)

range(0, 10)

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [8]:
for i in [0,1,2]:
    print(i)

0
1
2

In [9]:
for i in range(3):
    print(i)

0
1
2

In [10]:
fruits = ['mango', 'apple', 'orange']
# print("{}번째 과일은 {}".format(0, fruits[0]))
# print("{}번째 과일은 {}".format(1, fruits[1]))
# print("{}번째 과일은 {}".format(2, fruits[2]))
for idx in range(len(fruits)):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [20]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [22]:
for i, fruit in enumerate(fruits): #[(0, 'mango'), (1, 'apple'), (2, 'orange')]:
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [23]:
for fruit in fruits: # ['mango','apple','orange']
    print(f"{fruit}입니다")

mango입니다
apple입니다
orange입니다

In [26]:
#리스트는 여러 타입의 데이터를 담을 수 있음.
numbers = [0, True, "2", [2,3], [4,5,6]]
numbers[2], numbers[4][1]

('2', 5)

In [11]:
# 2차원 리스트
numbers = [1,2,3,4,5]
            # 0열 1열 2열 3열 4열
numbers_2d = [[1,2,3,4,5],   # 0행
              [10,20,30,40,50], # 1행
              [1,3,5,7,9],  # 2행
              [2,4,6,8,10]] # 3행
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [28]:
# 특정행, 특정열 데이터 인덱싱
numbers_2d[1][4]

50

In [29]:
print(len(numbers_2d), len(numbers_2d[0]))

4 5

In [30]:
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print()

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [31]:
for i in range(len(numbers_2d)): # i : 행
    for j in range(len(numbers_2d[i])): # j:열
        print(f"{i}행{j}열 : {numbers_2d[i][j]}", end="\t")
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

In [32]:
len(numbers_2d), len(numbers_2d[0]), len(numbers_2d[1]), len(numbers_2d[2])

(4, 5, 5, 5)

In [12]:
for i, row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end="\t")
    print() # 개행

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

## 1.2 기본 정보 조회

In [13]:
numbers = [1,12,3,4,5]
numbers_2d = [[100,0,1],
              [9,100,100],
              [59,100,130]]

In [14]:
# item 수
len(numbers), len(numbers_2d)

(5, 3)

In [15]:
# 최소값, 최대값
# 2차원 list의 최소/최대값 : 부분리스트 중 첫요소가 가장 작은값/큰값
min(numbers), min(numbers_2d), max(numbers), max(numbers_2d)

(1, [9, 100, 100], 12, [100, 0, 1])

In [16]:
# list의 데이터가 문자일 경우 ascii 코드값으로 min과 max적용
fruits = ['mango', 'apple', 'orange']
min(fruits), max(fruits)

('apple', 'orange')

In [17]:
# 정렬하기
numbers = [1,12,3,4,5]
print("오름차순 정렬 :", sorted(numbers))
print("내림차순 정렬 :", sorted(numbers, reverse=True))
print("합 :", sum(numbers))
print("평균 :", sum(numbers)/len(numbers))
print("sorted 함수 사용시 리스트의 내용이 바뀌지 않음 :", numbers)

오름차순 정렬 : [1, 3, 4, 5, 12]
내림차순 정렬 : [12, 5, 4, 3, 1]
합 : 25
평균 : 5.0
sorted 함수 사용시 리스트의 내용이 바뀌지 않음 : [1, 12, 3, 4, 5]

## 1.3 요소 추가
 -  `+` : 두 리스트 연결
 -  `*` : 리스트를 곱한 수만큼 반복
 - append() : 요소 맨 뒤에 추가
 - extend(리스트) : 리스트를 요소별로 맨 뒤에 추가
 - insert(idx, 값) : idx번째 인덱스 위치에 값 추가

In [40]:
numbers = [1, 2, 3]
numbers = numbers + numbers # 리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [22]:
numbers = [1, 2, 3]
print(numbers*3) # 곱한 수만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [23]:
numbers.append(4) # 맨 뒤에 4추가
numbers

[1, 2, 3, 4]

In [24]:
numbers.append([5,6,7])  # 맨 뒤 요소에 [5,6,7] 추가
numbers

[1, 2, 3, 4, [5, 6, 7]]

In [64]:
numbers = [1, 2, 3]
numbers.extend([4,5,6]) # 맨 뒤에 요소별로 4, 5, 6 각각 추가
numbers

[1, 2, 3, 4, 5, 6]

In [65]:
lst = ['a', 'b', 'c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [68]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'hello']

In [69]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'hello', 'h', 'e', 'l', 'l', 'o']

In [70]:
numbers = [1, 2, 3, 4, 5]
numbers.insert(1, 'xx') # 1번째 인덱스에 'xx' 추가 but)속도가 느림.
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
 - 변수[index] : 인덱스를 이용한 접근
 - index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환.(없으면 오류)
 - 찾을데이터 in list변수 : 찾을 데이터가 리스트변수의 요소인지 여부
 - count(찾을데이터) : 리스트에서 해당 찾을데이터의 갯수 반환

In [71]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.count(2), numbers.count([1,2,3])

(2, 1)

In [72]:
numbers.count(5)

0

In [73]:
print(2 in numbers) # 2가 numbers의 요소인지 여부
print(5 in numbers)

True
False

In [76]:
numbers.index(5)

ValueError: 5 is not in list

In [74]:
if 5 in numbers:
    print(numbers.index(5))
else:
    print("5가 요소에 포함안됨")

5가 요소에 포함안됨

In [75]:
if numbers.count(5):
    print(numbers.index(5))
else:
    print("5가 요소에 포함안됨")

5가 요소에 포함안됨

In [77]:
def safe_index(lst, item):
    """첫번째 매개변수 lst에서 item 요소가 있는 index를 반환. 
    item 요소가 없으면 -1 반환"""
    if item in lst:
        return lst.index(item)
    return -1

In [1]:
from lst import safe_index # lst.py(모듈)안의 safe_index를 메모리에 load
numbers = [1, 2, 3]
safe_index(numbers, 2), safe_index(numbers, 5)

(1, -1)

In [80]:
numbers[5] #  벗어난 인덱스로 인덱싱 시 에러

2

In [81]:
numbers[1:5] # 벗어난 인덱스로 슬라이싱 시 에러가 안 남

[2, 3, [1, 2, 3], 1]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱
 - [from:to:step] : from번째부터 to앞까지 step씩 증가하는 index값을 추출
 - 인덱스릐 범위를 벗어난 값도 에러나지 않음
 - 인덱스는 음수 가능
2. <font color="red">**리스트컴프리헨션**</font> : 원하는 조건의 데이터 추출

In [82]:
numbers = [1, 3, 5, 9, 10,12, 13, 18, 19, 20]
print(numbers[::-1]) # 꺼꾸로 출력
print(numbers[0::2]) # 짝수 index 값 출력
print(numbers[2:100]) # 인덱스를 벗어난 슬라이싱 가능

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[5, 9, 10, 12, 13, 18, 19, 20]

In [83]:
# 모든 데이터 추출
numbers = [1, 3, 5, 9, 10,12, 13, 18, 19, 20]
# for data in numbers:
#     print(data, end="\t")
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [85]:
# 짝수 데이터 추출
# for data in numbers:
#     if data%2==0:
#         print(data, end=" ")
[data for data in numbers if data%2==0]

[10, 12, 18, 20]

In [92]:
numbers = [1, 3, 5, 9, 10,12, 13, 18, 19, 20]
# ex1. numbers에서 10이상인 요소만 추출
[data for data in numbers if data>=10]

[10, 12, 13, 18, 19, 20]

In [95]:
# ex2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[ppp for ppp in fruits if len(ppp)>=5]

['orange', 'apple', 'mango']

In [97]:
# ex2-1 fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [98]:
# ex3. 3이상인 요소들의 제곱을 추출
L = [1,2,3,4,5]
[ppp**2 for ppp in L if ppp>=3]

[9, 16, 25]

In [99]:
# ex4. 리스트(L) 요소의 값의 2배를 추출
[ppp*2 for ppp in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기
 - 인덱스, 슬라이싱을 이용해서 수정

In [106]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [107]:
# 슬라이싱(step부분 미포함)
numbers[0:2] = ['xx','xx','xx','xx','xx','xx','xx']
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 222, 3, 4, 5, 6, 7, 8, 9]

In [112]:
# 슬라이싱(step부분 포함)을 이용하여 부분 수정시 요소 갯수 맞아야 함
numbers = [0]*10
print('수정전 :', numbers)
numbers[0::2] = [9,9,9,9,9]
print('수정후 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [114]:
numbers[::2] = [1,1]

ValueError: attempt to assign sequence of size 2 to extended slice of size 5

## 1.7 요소 삭제
 - pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
 - pop(idx) : idx번째 요소가 반환디고 삭제
 - remove(data) : list안의 data가 삭제
 - del 리스트변수[idx] : idx번째 요소가 삭제

In [5]:
numbers = [1,2,3,4,5]
print("삭제한 데이터 :", numbers.pop())
print("삭제 후 numbers :", numbers)
print("1번째 삭제한 데이터 :", numbers.pop(1))
print("1번째 삭제 후 numbers :", numbers)
print("데이터 1 삭제")
numbers.remove(1)
print("데이터 1 삭제 후 numbers : ", numbers)
print("del numbers[1]")
del numbers[1]
print(numbers)

삭제한 데이터 : 5
삭제 후 numbers : [1, 2, 3, 4]
1번째 삭제한 데이터 : 2
1번째 삭제 후 numbers : [1, 3, 4]
데이터 1 삭제
데이터 1 삭제 후 numbers :  [3, 4]
del numbers[1]
[3]

In [6]:
# numbers.remove(9)
if 9 in numbers:
    numbers.remove(9)
else:
    print("해당 데이터는 없는 item입니다")

해당 데이터는 없는 item입니다

In [7]:
numbers.clear() # 모든 요소를 삭제
numbers

[]

## 1.8 정렬하기

In [9]:
numbers = [9,5,0,8,6]
print("numbers는 변경하지 않고, 정렬결과 : ", sorted(numbers))
print("numbers :", numbers)

numbers는 변경하지 않고, 정렬결과 :  [0, 5, 6, 8, 9]
numbers : [9, 5, 0, 8, 6]

In [11]:
numbers.sort() # numbers 자체가 오름차순 정렬한 결과로 변경
numbers

[0, 5, 6, 8, 9]

In [12]:
numbers.sort(reverse=True) # numbers 자체가 내림차순 정렬한 결과로 변경
numbers

[9, 8, 6, 5, 0]

In [13]:
numbers.reverse() # 리스트를 역순으로 변경
# numbers = numbers[::-1]
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [16]:
# 스칼라 데이터의 복제
i = 10
cp_i = i
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")
cp_i = 99
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")

원본i = 10, 복사본cp_i=10 / 원본주소=2315387863568, 복사본주소=2315387863568
원본i = 10, 복사본cp_i=99 / 원본주소=2315387863568, 복사본주소=2315387866416

In [17]:
# 데이터 구조의 할당
numbers = [5, 6, 1, 9]
new_numbers = numbers # 할당
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))
new_numbers[0] = 99
print("원본 내용 :", numbers)
print("복제본 내용 :", new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))

원본 주소 : 2315472634560
복제본 주소 : 2315472634560
원본 내용 : [99, 6, 1, 9]
복제본 내용 : [99, 6, 1, 9]
원본 주소 : 2315472634560
복제본 주소 : 2315472634560

In [18]:
# 할당
numbers = [5, 6, 1, 9]
new_numbers = numbers
new_numbers.sort()
print("원본 :", numbers)
print("복제본 :", new_numbers)
print("원본 주소 :", id(numbers))
print("복제본 주소 :", id(new_numbers))

원본 : [1, 5, 6, 9]
복제본 : [1, 5, 6, 9]
원본 주소 : 2315489419200
복제본 주소 : 2315489419200

In [20]:
# 리스트 복제(깊은 복사)
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() # numbers를 복제(깊은 복사)
new_numbers.sort(reverse=True) # 내림차순 정렬
print("원본 :", numbers)
print("복제본 :", new_numbers)
print("원본 주소 :", id(numbers))
print("복제본 주소 :", id(new_numbers))

원본 : [5, 6, 1, 9]
복제본 : [9, 6, 5, 1]
원본 주소 : 2315490049664
복제본 주소 : 2315472639168

In [21]:
city = ['서울','대전','대구','부산','하남','수원','제주']
temp = city.copy()
temp.sort()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [22]:
temp.clear()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : []

# 2절 튜플
 - 리스트([])와 유사하지만 읽기전용. 수정이 필요없는 데이터에서 사용
 - 수정 불가. 튜플에서 데이터 수정, 추가, 삭제 불가.
 - 제공되는 함수도 많지 않음
 - () 이용해서 생성

In [24]:
city = ('서울','대전','대구','부산','하남')
# 파이썬은 여러개의 값이 전달될 때 튜플 타입으로 전달
city = '서울','대전','대구','부산','하남'
print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남')

In [27]:
# 매개변수로 list가 오는 함수는 tuple 매개변수로 함수 사용 가능
", ".join(city)

'서울, 대전, 대구, 부산, 하남'

In [28]:
from lst import safe_index
safe_index(city, '대전')

1

In [29]:
l = ['서울'] # 요소가 하나 있는 리스트
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [30]:
city = ('서울') # 요소가 하나 있는 튜플(X) -> str
print(type(city))
print(city)
print(len(city))

<class 'str'>
서울
2

In [31]:
city = ('서울', ) # 요소가 하나 있는 튜플(O)
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [33]:
numbers = (1, 2, 3)
# numbers.append(4) 수정하기 위한 함수는 제공되지 않음
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [34]:
numbers.count(2)

1

In [35]:
numbers.index(3)

2

In [36]:
# numbers.index(4)
if 4 in numbers:
    numbers.index(4)
else:
    print('해당 데이터 없음')

해당 데이터 없음

In [37]:
safe_index(numbers, 4)

-1

In [3]:
numbers = (1, 4, 3, 2)
if 4 in numbers[2:]:
    numbers.index(4, 2) # index(찾을데이터, 찾기시작할index=0)
else:
    print("데이터가 없습니다")

데이터가 없습니다

In [1]:
def safe_index(lst, item, start=0):
    """
    첫번째 매개변수 lst : 리스트, 튜플
    두번째 매개변수 item : 리스트나 튜플에서 찾을 데이터
    세번째 매개변수 start : 몇번째 index부터 찾을지 index 수(기본값:0)
    """
    if item in lst[start:]:
        return lst.index(item, start) # start번째부터 item이 있는 index를 반환
    else:
        return -1

In [4]:
safe_index(numbers, 2, 2)

3

In [6]:
# 위의 if문을 조건식을 이용하여 한줄 코드
def diff(x, y):
    return x-y if x>y else y-x # if문이참일때값 if 조건 else if문거짓일때값
#     if x>y:
#         return x-y
#     else:
#         return y-x
diff(10, 20)

10

In [12]:
numbers = (1, 2, 3)
print(numbers + numbers)  # 연결
print(3 * numbers) # 반복
print(numbers * 3) # 반복

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [10]:
# ex. 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력
numbers = (11, 2, 3, 4, 5, 6)
tuple(num**2 for num in numbers if num%2==0)

(4, 16, 36)

# 3절 딕셔너리
 - {}를 이용하여 키(key)- 값(value)의 쌍으로 구성된 자료구조
 - 키는 유일값(중복 불가). 키는 list에서 사용 불가. 키에 tuple은 사용 가능
 - 값은 중복 가능. 모든 데이터 타입 가능
 - 인덱스를 이용한 참조는 지원 안함.

In [13]:
dic = {'name':'홍길동', 1:22, (1, 2):[1,2]}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}

In [14]:
len(dic) # 데이터 요소의 갯수

3

In [15]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'yoga'}

In [20]:
# 변수[카] / 변수.get(키)
print(my_favorite['number'])
print(my_favorite.get('number'))

12
12

In [22]:
#print(my_favorite['people']) # 키 목록에 없는 데이터를 참조시 에러
print(my_favorite.get('people')) # 없는 키를 get함수로 참조시 None
print(my_favorite.get('people', '-')) # 없는 키를 get함수로 참조시 '-'

None
-

## 딕셔너리 item 수정, 추가, 삭제

In [31]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}
# 한 item씩 추가
my_favorite['people'] = '홍길동'
print('people 추가후 :', my_favorite)
# 여러 item을 한꺼번에 추가
my_favorite.update({'subject':'수학', 'major':'AI'})
print('한꺼번에 추가후 :', my_favorite)

# 한 item씩 수정
my_favorite['fruit'] = 'mango'
my_favorite['number'] = -9
print('하나씩 수정 후 :', my_favorite)
# 여러 item을 한꺼번 수정
#my_favorite.update({'fruit':'kiwi', 'number':-99})
my_favorite.update(fruit='kiwi', number=-99)
print('한꺼번에 수정 후 :', my_favorite)

# item 제거(1)
del my_favorite['subject'] # 다시 제거하면 오류 발생

if 'subject' in my_favorite:
    del my_favorite['subject']
else:
    print('subject 키가 존재하지 않습니다.')

print('del 제거(1) 후 :', my_favorite)
# item 제거(2)
print('제거한 데이터 :', my_favorite.pop('major')) # 키 값을 반환하고 제거

if 'major' in my_favorite:
    print('제거한 데이터 :', my_favorite.pop('major'))
else:
    print('major 키가 존재하지 않습니다.')

print(my_favorite)

people 추가후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동'}
한꺼번에 추가후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
하나씩 수정 후 : {'fruit': 'mango', 'number': -9, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
한꺼번에 수정 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
subject 키가 존재하지 않습니다.
del 제거(1) 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'major': 'AI'}
제거한 데이터 : AI
major 키가 존재하지 않습니다.
{'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동'}

In [32]:
# for문을 이용한 튜플 출력
my_tuple = ('홍길동', 30, '010-9999-9999')

In [34]:
for data in my_tuple:
    print(data, end='\t')
print() # 개행
for idx in range(len(my_tuple)):
    print(f"{idx}번째 : {my_tuple[idx]}", end="\t")
print() # 개행

for idx, data in enumerate(my_tuple):
    print(f"{idx}번째 : {data}", end="\t")

홍길동	30	010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999

In [35]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-999'}

In [39]:
for key in my_dic:
    print(key)
    
for key in my_dic:
    print("{} : {}".format(key, my_dic.get(key)), end="\t")

name
age
tel
name : 홍길동	age : 30	tel : 010-9999-999

In [40]:
my_dic.keys() #키 목록

dict_keys(['name', 'age', 'tel'])

In [41]:
my_dic.values() #값들 목록

dict_values(['홍길동', 30, '010-9999-999'])

In [42]:
my_dic.items() #키-값 쌍 목록

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-999')])

In [43]:
for key, value in my_dic.items():
    print('{}:{}'.format(key, value), end="\t")

name:홍길동	age:30	tel:010-9999-999

In [45]:
for value in my_dic.values():
    print(value, end="\t")

홍길동	30	010-9999-999

In [46]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-999'))]

In [47]:
for no, (key, value) in enumerate(my_dic.items()):
    print("{}.{} : {}".format(no+1, key, value))

1.name : 홍길동
2.age : 30
3.tel : 010-9999-999

## in 연산자

In [48]:
# tuple, list, set
t = (10, 20, 30)
30 in t # list, tuple, set에서의 in연산자 : 요소(데이터, item)가 있는지 여부 반환

True

In [52]:
# dictionary
dic = {'name':'홍길동', 'age':30}
'홍길동' in dic # dictionary에서의 in연산자 : key가 있는지 여부 반환

False

In [53]:
'홍길동' in dic.values()

True

## 복제하기

In [54]:
# 할당
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite
print('my_favorite 주소 :', id(my_favorite))
print('new_favorite 주소 :', id(new_favorite))

my_favorite 주소 : 3100399539904
new_favorite 주소 : 3100399539904

In [55]:
new_favorite['fruit'] = '과일은 다 좋아'
new_favorite['people'] = "홍길동"
print('원본 :', my_favorite)
print('수정본 :', new_favorite)

원본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}
수정본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}

In [56]:
# 복제(깊은 복사)
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite.copy()
print('my_favorite 주소 :', id(my_favorite))
print('new_favorite 주소 :', id(new_favorite))
new_favorite['fruit'] = '과일은 다 좋아'
new_favorite['people'] = "홍길동"
print('원본 :', my_favorite)
print('수정본 :', new_favorite)

my_favorite 주소 : 3100399541184
new_favorite 주소 : 3100399790528
원본 : {'fruit': 'apple', 'number': 12}
수정본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}

# 4절 셋
 - 중복을 허용하지 않는 집합(순서X)
 - {}나 set()함수를 이용해서 셋 생성 ex. set([1,2,1]), set({'name':'홍길동'})
 - 추가 : add(), update()
 - 삭제 : remove()
 - 집합연산자 : &교집합, |합집합, -차집합

In [57]:
fruits = {'banana', 'orange', 'apple', 'apple'}
fruits

{'apple', 'banana', 'orange'}

In [58]:
s1 = set([1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])
s1

{1, 2, 3}

In [59]:
s1 = set((1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1))
s1

{1, 2, 3}

In [60]:
# set함수를 이용해서 딕셔너리를 셋으로 전환할 때는 key만 적용
s2 = set({'name':'홍길동', 'age':30, 'address':'서울'})
s2

{'address', 'age', 'name'}

## 추가하기
 - add() : 기본자료형, 튜플 데이터 하나 추가. but) list, dic, set은 불가.
 - update() : 리스트, 튜플, 딕셔너리, 셋 요소를 하나씩 따로 추가. dic 사용시 key만 추가 cf) list의 extend()

In [62]:
s = {1, 2, 3}
s.add((6,7))
s.add(4)
s.add('오')
print("add() 후 :", s)

add() 후 : {1, 2, 3, 4, (6, 7), '오'}

In [63]:
# 1이 set에 있는 상태에서 True 추가
s = {1, 2, 3}
s.add(True)
print('add() 후 : ', s)

add() 후 :  {1, 2, 3}

In [65]:
# 0이 set에 있는 상태에서 False 추가
s = {0, 1, 2, 3}
s.add(False)
print('add() 후 : ', s)

add() 후 :  {0, 1, 2, 3}

In [61]:
s = {1,2,3}
s.update([4,5,6])
print('update() 후 : ', s)

update() 후 :  {1, 2, 3, 4, 5, 6}

## 제거하기
 - remove()

In [66]:
s = {1,2,3,1,1}
s.remove(2)
s

{1, 3}

In [67]:
# 없는 요소를 삭제할 경우 에러
if 5 in s:
    s.remove(5)
else:
    print("해당 데이터는 없습니다.")

해당 데이터는 없습니다.

## 집합연산자
&교집합, |합집합, -차집합

In [71]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
print("s1 = ", s1)
print("s2 = ", s2)
print("s1&s2 = ", s1&s2)
print("s1|s2 = ", s1|s2)
print("s1-s2 = ", s1-s2)
print("s2-s1 = ", s2-s1)

s1 =  {1, 2, 3, 4, 5}
s2 =  {3, 4, 5, 6, 7}
s1&s2 =  {3, 4, 5}
s1|s2 =  {1, 2, 3, 4, 5, 6, 7}
s1-s2 =  {1, 2}
s2-s1 =  {6, 7}

In [18]:
names = {'길동','길숙','길자'}
for name in names:
    print(name)

길숙
길자
길동

# 5절 enumerate
 - 반복자 : 반복문을 처리할때 사용할 순서객체를 생성하는 함수
 - 리스트, 튜플, 딕셔너리, 셋을 for문에 사용

In [19]:
list(enumerate(names))

[(0, '길숙'), (1, '길자'), (2, '길동')]

In [20]:
for no, name in enumerate(names):
    print("{}. {}".format(no+1, name))

1. 길숙
2. 길자
3. 길동

In [21]:
names = ['길동', '길자', '길숙']
tels = ['02-999-9999', '02-888-8888', '02-777-7777']
adds = ['서울', '판교', '하남']

In [22]:
for name, tel, add in zip(names, tels, adds):
    print("{}님의 연락처는 {}이고, {} 살아요".format(name, tel, add))

길동님의 연락처는 02-999-9999이고, 서울 살아요
길자님의 연락처는 02-888-8888이고, 판교 살아요
길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [23]:
list(enumerate(zip(names, tels, adds)))

[(0, ('길동', '02-999-9999', '서울')),
 (1, ('길자', '02-888-8888', '판교')),
 (2, ('길숙', '02-777-7777', '하남'))]

In [24]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    print("{}.{}님의 연락처는 {}이고, {} 살아요".format(idx+1, name, tel, add))

1.길동님의 연락처는 02-999-9999이고, 서울 살아요
2.길자님의 연락처는 02-888-8888이고, 판교 살아요
3.길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [25]:
names = ['길동', '길자', '길숙']
tels = ['02-999-9999', '02-888-8888', '02-777-7777']
adds = ['서울', '판교', '하남']
members = [] # 딕셔너리 리스트
for name, tel, add in zip(names, tels, adds):
    member = {'name': name, 'tel':tel, 'add':add}
    members.append(member)
members

[{'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

In [26]:
members = [] # 딕셔너리 리스트
for idx, (name, tel, add) in enumerate( zip(names, tels, adds)):
    member = {'rank': idx+1, 'name': name, 'tel':tel, 'add':add}
    members.append(member)
members

[{'rank': 1, 'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'rank': 2, 'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'rank': 3, 'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

# 6절 연습문제
## 실습형 연습문제

In [119]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [120]:
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [121]:
data = [200, 300, 400, 500]
numbers = numbers + data
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [122]:
print("{}".format(numbers[:5:]))

[1, 2, 3, 4, 5]

In [123]:
print("{}".format(numbers[::2]))

[1, 3, 5, 7, 9, 100, 300, 500]

In [158]:
for idx, dd in enumerate(numbers) : 
    if idx%2==1:
        print('{}:{}'.format(idx+1,0))
    else:
        print('{}:{}'.format(idx+1,dd))

1:1
2:0
3:3
4:0
5:5
6:0
7:7
8:0
9:9
10:0
11:100
12:0
13:300
14:0
15:500

In [160]:
numbers.sort(reverse=True)
numbers

[500, 400, 300, 200, 100, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [163]:
member_info = {'name':'홍길동', 'age':20, 'address':'서울시 마포구','score':90}

In [164]:
member_info.get('address')

'서울시 마포구'

In [165]:
member_info.pop('score')

90

In [174]:
member_info['address']='서울시 서대문구'
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [185]:
vlist = []
for vvv  in member_info.values():
    vlist.append(vvv)
vlist

['홍길동', 20, '서울시 서대문구']

## 서술형 연습문제

In [ ]:
# 1. wiki
# 2. 3
# 3. 1
# 4.  numbers + 
# 5. [0, 0, 0]

In [186]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[ : : 2]= numbers[5:]
print(numbers)

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [187]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[ : : 2]= numbers[:5]
print(numbers)

[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

In [ ]:
# 8. 1

In [190]:
fruits = [ 'apple', 'banana', 'orange']
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
orange

In [191]:
fruits = [ 'apple', 'banana', 'orange']
print(len(fruits))

3

In [ ]:
# def

<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg" style="float:left" width=500></img>