In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch05. 함수</font></b>
 - 반복해서 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
 - 오버로딩 불가(같은 함수는 덮어씀)
 - 함수 정의
 ```
 def 함수명([매개변수1,매개변수2,.. ])
     명령어1
     명령어2 ...
 ```
 # 1절 함수의 정의 및 사용
 ## 1.1 함수 정의

In [2]:
def my_message(x, msg): # msg 를 x번 출력하는 함수 정의
    for i in range(x):
        print(i, msg)

In [3]:
# 함수의 사용 == 함수 호출
my_message(3,'hello')

0 hello
1 hello
2 hello

In [4]:
# 함수 이름 변경
my_msg = my_message
my_message(2,'Hello')
my_msg(3,'python')

0 Hello
1 Hello
0 python
1 python
2 python

In [5]:
type(my_msg), type(my_message)

(function, function)

In [6]:
print('Hello') # 파이썬 내장 함수(import 하지 않고 사용할 수 있는 함수)
print = 5
print('Hello')

Hello

TypeError: 'int' object is not callable

In [7]:
del print
print('Hello')

Hello

In [8]:
my_message(2, 'Hello')

0 Hello
1 Hello

In [9]:
my_message = 5
my_msg(2, 'Hello')

0 Hello
1 Hello

In [10]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [11]:
del my_message # 변수및 함수 제거하여도
my_message(2, 'Hello')# 사용자 정의함수, 라이브러리 함수는 사용불가

NameError: name 'my_message' is not defined

In [2]:
# 함수 중복 정의 불가(오버로딩 불가)
def my_hello():
    print('Hello Python')
    print('Hello world')
def my_hello(cnt): # cnt번 출력
    for i in range(cnt):
        print('Hello, Python', end="\t")
        print('Hello, World')

In [3]:
my_hello()

TypeError: my_hello() missing 1 required positional argument: 'cnt'

In [4]:
my_hello(2)

Hello, Python	Hello, World
Hello, Python	Hello, World

In [5]:
my_hello

In [6]:
__name__

'__main__'

In [7]:
if __name__ == '__main__':
    my_hello(2)

Hello, Python	Hello, World
Hello, Python	Hello, World

In [1]:
import ch05 # ch05 모듈이 해석되어 메모리 로드

In [3]:
ch05.my_hello(3)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

In [ ]:
from ch05 import my_hello # ch05모듈안의 my_hello만 메모리 로드

## 1.2 docstring

In [9]:
def my_function():
    """
    함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)
    """
    # 어떤 함수

In [ ]:
my_function()

In [10]:
print(my_function.__doc__)

    함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)

In [11]:
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0 1 1 2 3 5 8 
       n=100 : 0 1 1 2 3 5 8 13 21 34 55 89
    '''
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역변수 (반:전역변수)
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행

In [12]:
fibonacci(10000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [13]:
a, b # 지역변수는 함수내에서만 사용가능

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)

In [14]:
global_var = 100 
def func1():
    print('함수안 :', global_var)
func1()
print('함수밖 :', global_var)

함수안 : 100
함수밖 : 100

In [15]:
def func2():
    local_var = 200 # 지역변수(함수내에서 할당)
    print('함수안 :', local_var)
func2()

함수안 : 200

In [ ]:
# print('함수밖에서 지역변수 :', local_var) # 에러

In [16]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수 (함수내에서 할당)
    print('지역변수 g_var :', g_var)
func3()
print('전역변수 g_var :', g_var)

지역변수 g_var : 200
전역변수 g_var : 100

In [17]:
# 렉시컬 특성 : 변수가 어디서 선언되었는지에 따라 
# 변수의 범위가 정해짐(지역vs전역)
g_var = 100 # 전역변수
def func3():    
    print('지역변수 g_var :', g_var)
    g_var = 200 # 지역변수 (함수내에서 할당)
func3()
print('전역변수 g_var :', g_var)

UnboundLocalError: local variable 'g_var' referenced before assignment

In [18]:
# 렉시컬 특성 
g_var = 100 # 전역변수
def func3():   
    global g_var # 함수내에서의 g_var는 전역변수를 쓰겠다
    print('전역변수 g_var :', g_var)
    g_var = 200 # 전역변수 g_var에 200할당
func3()
print('전역변수 g_var :', g_var)

전역변수 g_var : 100
전역변수 g_var : 200

## 1.4 값에 의한 호출
 - 함수에 인수로 전달되는 변수가 스칼라 변수(문자,숫자,논리형)일 때

In [19]:
foo = 'a' # 전역변수
id(foo)

1674384271152

In [22]:
def func1(f): # 매개변수는 지역변수
    print('Before :', f, '의 주소는 ', id(f))
    f = f*3
    print('After :', f, '의 주소는 ', id(f))

func1(foo)

Before : a 의 주소는  1674384271152
After : aaa 의 주소는  1674494641456

In [23]:
print('foo =', foo, '의 주소는', id(foo))

foo = a 의 주소는 1674384271152

## 1.5 참조에 의한 호출
 - 함수에 변수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 기타 객체일 경우

In [25]:
L = [1,2,3,4,5]

In [26]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, '의 주소는 ', id(f))
    f.append(6)
    print('After :', f, '의 주소는 ', id(f))

func2(L)

Before : [1, 2, 3, 4, 5] 의 주소는  1674494477632
After : [1, 2, 3, 4, 5, 6] 의 주소는  1674494477632

In [27]:
print('L =', L, '의 주소는', id(L))

L = [1, 2, 3, 4, 5, 6] 의 주소는 1674494477632

# 2절 함수의 실행결과를 반환하는 return

In [28]:
def fibonacci_print(n):
    '매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수'
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역변수 (반:전역변수)
    while a < n:
        print(a, end=' ') # 출력
        a, b = b, a+b
    print() # 개행
def fibonacci(n):
    "n미만의 피보나치수열을 리스트로 return"
    result = [] # 피보나치수열을 append할 리스트
    a, b = 0, 1
    while a<n:
        result.append(a) # 리스트에 append
        a, b = b, a+b
    return result

In [30]:
x = fibonacci(10)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

In [31]:
x = fibonacci_print(10)
print(x)
print(type(x))

0 1 1 2 3 5 8
None
<class 'NoneType'>

### 여러개 값 return
 - 여러개 값을 갖는 튜플로 return

In [33]:
def swap(a,b):
    '매개변수의 순서를 바꿔서 return'
    return b, a # return (b,a)

In [36]:
x, y = 5, 10
# x=5; y=10
print('함수 실행 전 x, y=', x, y)
x, y = swap(x, y)
print('함수 실행 후 x, y=', x, y)

함수 실행 전 x, y= 5 10
함수 실행 후 x, y= 10 5

# 3절 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [37]:
def make_url(ip, port=80):
    return "http://{}:{}".format(ip, port)

In [40]:
print(make_url('localhost', 8090))
print(make_url('www.naver.com'))
print(make_url(port=9090, ip='localhost'))

http://localhost:8090
http://www.naver.com:80
http://localhost:9090

In [ ]:
# def make_url(port=80, ip):  # 순서인수 > 기본값을갖는매개변수 순으로 배치
#     return "http://{}:{}".format(ip, port) 에러남

## 3.2 기본변수를 갖는 매개변수 
 - 기본변수가 스칼라변수(문자,숫자,논리형)일때
 - 기본변수가 리스트, 셋, 딕셔너리, 기타 객체일 때

In [41]:
i = 80
# 기본변수가 스칼라변수일 때 : 함수가 정의되는 시점으로 기본값 셋팅
def make_url(ip, port=i):
    return "http://{}:{}".format(ip, port)

In [42]:
i = 99999
make_url("localhost")

'http://localhost:80'

In [43]:
list_ = []
# 기본변수가 리스트, 셋, 딕셔너리, 객체일 때 : 함수가 실행되는시점으로 기본값 셋팅
def func3(a, L=list_):
    L.append(a)
    return L
print(func3(10))

[10]

In [44]:
print(func3(20))

[10, 20]

In [46]:
print("list_ =", list_)

list_ = [10, 20]

In [47]:
print(func3(50))

[10, 20, 50]

In [48]:
# 실행할 때마다 L을 공유하는게 싫으면
def func3(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
print(func3(10))
print(func3(10))
print(func3(10))
print(func3(10, [1,2,3]))
print(func3(10))

[10]
[10]
[10]
[1, 2, 3, 10]
[10]

## 3.3 순서인수, 키워드인수
 - 순서인수: 함수에 정의된 순서대로 전달방식
 - 키워드인수: 인수의 이름을 명시하는 방식
 - 함수 정의시 순서인수와 키워드인수가 같이 올 때는 순서인수 > 키워드인수 순으로

In [49]:
def func3(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [50]:
lst = []
print(func3(10, lst))     # 순서인수 : 함수 정의된 순서대로 전달하는 방식
print(func3(L=lst, a=20)) # 키워드인수 : 인수의 이름을 명시하여 전달하는 방식

[10]
[10, 20]

## 3.4 튜플 매개변수를 이용한 가변인수 설정
 - 가변인수: 매개변수의 갯수가 가변

In [51]:
# 파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [52]:
add(3, 5)

TypeError: add() missing 1 required positional argument: 'c'

In [53]:
# args앞에 * : args가 튜플로 전달받는다
def add(*args):
    # print('args =', args)
    '전달받은 매개변수들의 합을 return. 매개변수가 없는 경우 0을 return'
    sum = 0 # 누적변수
    for num in args:
        sum += num # sum = sum+num
    return sum

In [54]:
print(add())
print(add(1))
print(add(1, 3))
print(add(1, 2, 5, 7, 9, 1))

0
1
4
25

In [55]:
subject = ('Python', 'web', 'JavaScript', 'DBMS')
'-'.join(subject)

'Python-web-JavaScript-DBMS'

In [56]:
# 튜플 매개변수와 일반 매개변수가 같이 있을 때
def concat(*subject, sep):
    return sep.join(subject)

In [60]:
concat('Python', 'web', 'JavaScript', 'DBMS', '-')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [61]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python', 'web', 'JavaScript', 'DBMS', sep='-')

'Python-web-JavaScript-DBMS'

In [62]:
# 해결책2 : 기본값을 갖는 키워드인수 사용
def concat(*subject, sep=' ~ '): # 튜플매개변수 > 키워드인수
    return sep.join(subject)
print(concat('Python', 'Web', 'JS', 'DBMS', '-'))
print(concat('Python', 'Web', 'JS', 'DBMS', sep='-'))

Python ~ Web ~ JS ~ DBMS ~ -
Python-Web-JS-DBMS

In [63]:
print('python', 'web', 'js', sep='=')

python=web=js

In [64]:
# 해결책3 : sep을 순서인수로 앞으로 (추천)
def concat(sep, *subject):
    return sep.join(subject)

In [65]:
concat('~', 'Python', 'Web', 'DB', 'MLDL')

'Python~Web~DB~MLDL'

## 3.5 딕셔너리 매개변수
 - 딕셔너리 인수 : 여러개의 키워드 인수를 딕셔너리 형태로 받아 가변인수로 처리

In [69]:
def func5(**args): # args : 딕셔너리로 전달받음
    print('이름 :', args.get('name', '몰라'))
    print('나이 :', args.get('age', 30))
    print('전화 :', args.get('tel', '없음'))
    print('주소 :', args.get('address', '서울 관악'))

In [72]:
def func5(**args):
    '''딕셔너리 매개변수로 받아 address 키가 없으면 서울시 관악구로 추가하고
    키-값을 출력'''
    print(args)
    print(type(args))
    if 'address' not in args: # args에 address 키가 없으면 if문 True
        # args['address'] = '서울시 관악구'
        # args.update({'address':'서울시 관악구'})
        args.update(address='서울시 관악구')
    for key, value in args.items():
        print("{} : {}".format(key, value))

In [73]:
func5(name='홍길동', age=10, tel='010-999-9999', address='서울 관악구')

{'name': '홍길동', 'age': 10, 'tel': '010-999-9999', 'address': '서울 관악구'}
<class 'dict'>
name : 홍길동
age : 10
tel : 010-999-9999
address : 서울 관악구

## 3.6 함수 정의시 매개변수 순서
 - 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리 인수(**)

In [77]:
# 순서인수 > 튜플인수 > 딕셔너리인수
def func6(a, b, *c, **d):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('튜플인수 c = ', c)
    print('딕셔너리인수 d = ', d)

In [75]:
func6(10, 20, 1,2,3,4,5,6,7,8,9, name='홍', age=30 , address='신림')

순서인수 a =  10
순서인수 b =  20
튜플인수 c =  (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리인수 d =  {'name': '홍', 'age': 30, 'address': '신림'}

In [78]:
# 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리 인수(**)
def func7(a, b, c, *d,  e=10, **f):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('순서인수 c = ', c)
    print('튜플인수 d = ', d)
    print('키워드(기본값)인수 e = ', e)
    print('딕셔너리인수 f = ', f)

In [80]:
func7(10, 20, 30, e=100)

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  ()
키워드(기본값)인수 e =  100
딕셔너리인수 f =  {}

In [81]:
func7(10, 20, 30, 1,2,3,4,5, e=100, shape='rect', width=20 , height=30)

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  (1, 2, 3, 4, 5)
키워드(기본값)인수 e =  100
딕셔너리인수 f =  {'shape': 'rect', 'width': 20, 'height': 30}

## 3.7 인수의 언패킹
### 튜플인수 언패킹
 - 언패킹 : 함수 호출시 매개변수 앞에 *붙임
 - 패킹 : 함수 정의시 매개변수 앞에 *붙임(튜플매개변수)

In [87]:
def add(*args):
#    print(args)
    sum = 0
    for num in args:
        sum += num
    return sum

In [88]:
add(1, 2, 3)

6

In [89]:
numbers = (1, 2, 3)
add( *numbers )

6

### 딕셔너리 인수 언패킹
 - 언패킹 : 함수 호출시 매개변수 앞에 **붙임
 - 패킹 : 함수 정의시 매개변수 앞에 **붙임(딕셔너리 매개변수)

In [84]:
def func8(**data):
    print(data)
    for item in data.items():
        print(item)

In [85]:
func8(shape='rect', width=40, height=30)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

In [86]:
info = {'shape': 'rect', 'width': 40, 'height': 30}
func8(**info)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

# 4절 람다식
 - return 한 줄짜리 작은 익명함수
 ## 4.1 람다식 연습

In [3]:
def add(a,b):
    return a+b
print( add(3,5) )
print( type(add) )

8
<class 'function'>

In [4]:
add2 = lambda a, b:a+b
print( add2(3,5) )
print( type(add2) )

8
<class 'function'>

In [5]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보세요
def even_odd_chk(num):
    if num%2:
        result = "홀수"
    else:
        result = "짝수"
    return result

    # return "홀수" if num%2 else "짝수"

even_odd_chk1 = lambda num : "홀수" if num%2 else "짝수"

even_odd_chk(5), even_odd_chk1(4)

('홀수', '짝수')

In [10]:
# ex2. 두 매개변수의 차이를 return하는 함수를 람다식으로 만들어 보세요
def two_minus(a,b):
    _minus = 0
    if a>b:
        _minus = a-b
    else:
        _minus = b-a
    return _minus

two_minus1 = lambda a, b: a-b if a>b else b-a

two_minus(-10, 20), two_minus1(-10, 20)

(30, 30)

In [12]:
# ex3. 
ex3 = lambda balance : balance if balance>=0 else 'negative'
ex3(1000), ex3(-1000)

(1000, 'negative')

In [20]:
# ex4. 점수를 입력받아 80점이상은 'A팀', 60점이상은 'B팀', 60점미만은 '재시험'
                     # 100점초과, 0점미만은 '유효하지 않음'을 return

#total_rank = lambda num :  if 80<=num<100 'A팀' elif 60<=num<80 'B팀' elif num<60 '재시험' else '유효하지 않음' -- 오류남

total_rank = lambda num : 'A팀' if 80<=num<100 else \
                          'B팀' if 60<=num<80 else \
                          '재시험' if 0<num<60 else \
                          '유효하지 않음'

total_rank(101)

'유효하지 않음'

In [24]:
# 점수를 입력받아 학점을 return
score_grade = lambda score : 'A학점' if 90<=score<=100 else \
                             'B학점' if 80<=score<90 else \
                             'C학점' if 70<=score<80 else \
                             'D학점' if 60<=score<70 else \
                             'F학점' if 0<=score<60 else \
                             '유효하지 않는 점수'
score_grade(60), score_grade(120)

('D학점', '유효하지 않는 점수')

In [26]:
# ex5. safe_index를 람다식으로

#def safe_index(lst, item, start=0):
#   return lst.index(item, start) if item in lst[start:] else -1

safe_index1 = lambda lst, item, start=0 : lst.index(item, start) if item in lst[start:] else -1
lst = [1,2,3]
safe_index1(lst, 3)

2

In [27]:
# 람다식을 list에 들어갈 수 있음
add = lambda a, b : a + b
sub = lambda a, b : a - b
mul = lambda a, b : a * b
div = lambda a, b : a / b if b else '두번째 인자가 0이면 못 나눠요'
operations = [add, sub, mul, div] # 사칙연산 함수들

def act_operations(a, b, operations=operations): # a,b의 연산 결과를 return
    result = []
    for op in operations:
        result.append(op(a, b))
    return result

act_operations(20, 5)

[25, 15, 100, 4.0]

In [28]:
act_operations(8, 2, [lambda x,y : x**y, lambda x,y : 10*x+y])

[64, 82]

In [29]:
(lambda x,y : 10*x+y)(5,3)

53

In [30]:
operations.append(lambda x, y : x**y)
len(operations)

5

In [31]:
act_operations(8, 2) # 기본값을 갖는 변수(기본 변수)가 리스트면 기본값은 호출할 시점

[10, 6, 16, 4.0, 64]

## 4.2 함수의 매개변수(인수)에 람다식 사용
 - 람다식을 사용하는 곳 : 함수의 매개변수 > return 문
 # (1) map

In [33]:
def map_template(func, L=[]):
    result = []
    for item in L:
        result.append( func(item) )
    return result

In [34]:
list_data = [1,2,3,4,5,6,7,8,9]
# def x_2(x):
#     return x*2
x_2 = lambda x : x*2
map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [35]:
map_template(lambda x:x*2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [36]:
# 리스트 컴프리헨션
[item*2 for item in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [37]:
list(map(lambda x:x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [38]:
for data in map(lambda x:x*2, list_data):
    print(data, end=' ')

2 4 6 8 10 12 14 16 18

In [40]:
'''
예제 1. prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000',
'1000’]를 [5000,5000,6000,1000]식으로 바꾸시오
'''
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000','1000']
def toint(value):
    return int(value.replace(',',''))
prices_int = map(lambda value : int(value.replace(',','')), prices)
for price in prices_int:
    print(price, end=' ')

5000 5000 6000 1000 5000 5000 6000 1000

In [42]:
'''예제2 : members1을 members2로 
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},
            {'name':'신길동', 'birth':'1995-12-18'},]
    members2 = [
         {'name':'홍길동', 'year':2000, 'month':1,'day':1},
        {'name':'신길동', 'year':1995, 'month':12, 'day':18},]
'''

"예제2 : members1을 members2로 \nmembers1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n            {'name':'신길동', 'birth':'1995-12-18'},]\n    members2 = [\n         {'name':'홍길동', 'year':2000, 'month':1,'day':1},\n        {'name':'신길동', 'year':1995, 'month':12, 'day':18},]\n"

In [19]:
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},
            {'name':'신길동', 'birth':'1995-12-18'},]

In [5]:
# {'birth':'2025-01-01'} => {'year':2000, 'month':1,'day':1} 
def split_date(date):
    return {
        'year': int(date.split('-')[0]),
        'month':int(date.split('-')[1]),
        'day':int(date.split('-')[2])
    }
split_date('2025-01-01'), split_date('1995-12-12')

({'year': 2025, 'month': 1, 'day': 1}, {'year': 1995, 'month': 12, 'day': 12})

In [16]:
# {'birth':'2025-01-01'} => {'year':2000, 'month':1,'day':1} 
def split_date(data):
    return {
        'year': int(data['birth'].split('-')[0]),
        'month':int(data['birth'].split('-')[1]),
        'day':int(data['birth'].split('-')[2])
    }
split_date({'birth':'2025-01-01'})

{'year': 2025, 'month': 1, 'day': 1}

In [17]:
# {'name':'홍길동', 'birth':'2000-01-01'}=>{'name':'홍길동', 'year':2000, 'month':1,'day':1}
def member_preprocessing(member):
    return {
        'name' : member.get('name','이름없음'), #member['name']
        'year' : int(member.get('birth').split('-')[0]),
        'month': int(member.get('birth').split('-')[1]),
        'day'  : int(member.get('birth').split('-')[2]),
    }
member_preprocessing({'name':'홍길동', 'birth':'2000-01-01'})

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [20]:
members2 = list(map(lambda member : {
                                'name' : member.get('name','이름없음'), 
                                'year' : int(member.get('birth').split('-')[0]),
                                'month': int(member.get('birth').split('-')[1]),
                                'day'  : int(member.get('birth').split('-')[2]),
                                } , members1 
                   )  
               )
members2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [ ]:
'''
예제3. members2를 members1로 전환
'''
members1

In [22]:
# {'year':2000, 'month':1,'day':1}  => '2025-01-01'
def join_date(data):
    return "{}-{:02}-{:02}".format(data.get('year'), data.get('month'), data.get('day'))
join_date({'year':2000, 'month':9,'day':9})

'2000-09-09'

In [23]:
# {'year':2000, 'month':1,'day':1}  => '2025-01-01'
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(year=data.get('year'),
                                               month=data.get('month'),
                                               day=data.get('day')
                                              )
join_date({'year':2000, 'month':9,'day':9})

'2000-09-09'

In [24]:
# {'year':2000, 'month':1,'day':1}  => '2025-01-01'
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(**data)
join_date({'year':2000, 'month':9,'day':9})

'2000-09-09'

In [27]:
# {'year':2000, 'month':1,'day':1}  => {'birth':'2000-01-01'}
def join_date(data):
    return {'birth':"{year}-{month:02}-{day:02}".format(**data)}
join_date({'year':2000, 'month':9,'day':9})

{'birth': '2000-09-09'}

In [35]:
# {'name':'hong', year':2000, 'month':1,'day':1}  => {'name':'hong',birth':'2025-01-01'}
def members_preprocessing(member):
    return {
        'name': member.get('name'),
        'birth':"{year}-{month:02}-{day:02}".format(**member)
    }
members_preprocessing({'name':'hong', 'year':2000, 'month':1,'day':1})

{'name': 'hong', 'birth': '2000-01-01'}

In [40]:
members2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [36]:
list(map(lambda member : {
        'name': member.get('name'),
        'birth':"{year}-{month:02}-{day:02}".format(**member)
        }, members2))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

# (2) filter

In [43]:
def filter_template(func, L=[]):
    result=[]
    for item in L:
        if func(item):
            result.append(item)
    return result

In [46]:
list_data = [1,2,3,4,5,6,7,8,9]
def odd_chk(value):
    return value%2
filter_template(lambda value : value%2,  list_data)

[1, 3, 5, 7, 9]

In [47]:
# 리스트 컴프리헨션
[value for value in list_data if value%2]

[1, 3, 5, 7, 9]

In [ ]:
list[value for value in list_data if value%2

In [55]:
# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출(filter/리스트 컴프리헨션)
L = [1,1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2 ]

In [56]:
[item for item in L if item%1==0]

[1, 3.0, 100, -2.0]

 # (3) sort

In [53]:
p = [10, 3, 6, 1]
p.sort(reverse=True)
p

[10, 6, 3, 1]

In [51]:
# 무조건 0번째 item을 기준으로 오름차순 정렬
pairs = [(2,'two'),(1,'one'),(3,'three'),(4,'four')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [52]:
# 1번째 item 기준으로 내림차순 정렬
pairs.sort(key=lambda data:data[1], reverse=True)
pairs

[(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')]

In [65]:
# 0번째 item을 기준으로 오름차순 정렬
number_2d = [[9,9],[1,100],[10,200,2]]
number_2d.sort()
number_2d
# 합이 큰 순으로 정렬
number_2d.sort(key= lambda items : sum(items), reverse=True)
number_2d

[[10, 200, 2], [1, 100], [9, 9]]

In [66]:
students = [{'name':'홍', 'score':99},
           {'name':'김', 'score':50},
           {'name':'박', 'score':77},
           {'score':100},]

In [67]:
name_select = lambda data : data.get('name')
name_select({'name':'홍', 'score':99})

'홍'

In [70]:
# students를 name순으로 정렬(ㄱㄴㄷ순)
students.sort(key=lambda data:data.get('name', '가'))
#students.sort(key=lambda data:data.get('name', '힣'))
students

[{'score': 100},
 {'name': '김', 'score': 50},
 {'name': '박', 'score': 77},
 {'name': '홍', 'score': 99}]

In [74]:
# students를 score 큰 순 정렬
students.sort(key=lambda data:data.get('score', 0), reverse=True)
students

[{'score': 100},
 {'name': '홍', 'score': 99},
 {'name': '박', 'score': 77},
 {'name': '김', 'score': 50}]

In [75]:
# 예제
books = \
   [{'no':2, 'title':'더트릭컬', 'writer':'폴빠','price':'19,800'},
    {'no':1, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
    {'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
    {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
    {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
    {'no':6, 'title':'가격이없음', 'writer':'이길동'},]

In [77]:
# no기준으로 sort
books.sort(key=lambda book : book['no'])
books

[{'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [78]:
# title 기준으로 sort
books.sort(key=lambda book : book['title'])
books

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'}]

In [79]:
# price 기준으로 sort
books.sort(key=lambda book : book.get('price',0))
books

TypeError: '<' not supported between instances of 'str' and 'int'

In [82]:
# 30200=> 30200, '12,000'=>12000, '5000'=>5000, 'ㅁ'=>0, None=>0
def parse_int(price):
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    elif isinstance(price, int):
        return price
    else:
        return 0
    
parse_int = lambda price : \
            int(price.replace(',','')) \
                if isinstance(price, str) and price.replace(',','').isdigit() else \
            price if isinstance(price, int) else 0

print(parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int(None))

12000 30200 0 0

In [85]:
# {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': '12,000} => 12000
parse_int = lambda book : \
            int(book.get('price').replace(',','')) \
                if isinstance(book.get('price'), str) and book.get('price').replace(',','').isdigit() else \
            book.get('price') if isinstance(book.get('price'), int) else 0
parse_int({'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': '12,000'})
parse_int({'no': 5, 'title': '가격이숫자', 'writer': '백난도'})

0

In [87]:
copybooks = books.copy() # 복제
copybooks.sort(key=lambda book : \
            int(book.get('price').replace(',','')) \
                if isinstance(book.get('price'), str) and book.get('price').replace(',','').isdigit() else \
            book.get('price') if isinstance(book.get('price'), int) else 0
              , reverse=True)
copybooks

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}]

# 5절 파이썬 내장함수
 - import 하지 않고 바로 사용 가능한 함수
 - 키워드(if, while,...)처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다.

In [2]:
globals() # 전역 변수 리스트

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'globals()', 'globals() # 전역 변수 리스트'],
 '_oh': {1: {...}},
 '_dh': [WindowsPath('C:/ai/source/01_python')],
 'In': ['', 'globals()', 'globals() # 전역 변수 리스트'],
 'Out': {1: {...}},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001EBF00D3730>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x1ebf00dfee0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x1ebf00dfee0>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': {...},
 '__': '',
 '___': '',
 '_i': 'globals()',
 '_ii': '',
 '_iii': '',
 '_i1': 'globals()',
 '_1': {...},
 '_i2': 'globals() # 전역 변수 리스트'}

In [3]:
all([True,True,True,True,True]) # 모든 요소가 다 True인지 여부

True

# 6절 연습문제
실습형

In [ ]:
# 실습형 1

서술형

In [ ]:
# 서술형 1 
 - 2번

In [17]:
# 서술형 2
a = 10
a += 1

for i in range(2):
    i = 5
    a += 1

print(a)

13