In [1]:
import pandas as pd

In [8]:
suwan = pd.read_csv('C:/Users/Admin/Downloads/경기도_카드_소비_데이터/2024/카드 소비 데이터_202410/tbsh_gyeonggi_day_수원시.csv', sep=',')

In [17]:
pd
suwan_c = suwan[suwan.card_tpbuz_nm_2=='커피/음료']
#suwan

In [19]:
suwan_c.to_csv('C:/Users/Admin/Downloads/경기도_카드_소비_데이터/2024/카드 소비 데이터_202410/sw_202410.csv')

In [20]:
suwan1 = pd.read_csv('C:/Users/Admin/Downloads/경기도_카드_소비_데이터/2024/카드 소비 데이터_202410/sw_202410.csv', sep=',')

In [21]:
suwan1

,Unnamed: 0,ta_ymd,cty_rgn_no,admi_cty_no,card_tpbuz_cd,card_tpbuz_nm_1,card_tpbuz_nm_2,hour,sex,age,day,amt,cnt
0,1356,20241001,41111,41111560,Q13,음식,커피/음료,1,F,2,2,14557,2
1,1357,20241001,41111,41111560,Q13,음식,커피/음료,1,F,3,2,21834,5
2,1358,20241001,41111,41111560,Q13,음식,커피/음료,1,F,4,2,7196,3
3,1359,20241001,41111,41111560,Q13,음식,커피/음료,1,F,5,2,22841,5
4,1360,20241001,41111,41111560,Q13,음식,커피/음료,1,F,6,2,6686,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137367,2516473,20241031,41117,41117610,Q13,음식,커피/음료,10,F,2,4,4537,2
137368,2516474,20241031,41117,41117610,Q13,음식,커피/음료,10,F,3,4,12369,5
137369,2516475,20241031,41117,41117610,Q13,음식,커피/음료,10,F,4,4,3755,2
137370,2516476,20241031,41117,41117610,Q13,음식,커피/음료,10,M,3,4,21589,3
137371,2516477,20241031,41117,41117610,Q13,음식,커피/음료,10,M,4,4,6117,2

In [24]:
suwan = pd.read_csv('C:/Users/Admin/Downloads/경기도_카드_소비_데이터/2024/카드소비 데이터_202401/tbsh_gyeonggi_day_202401_수원시.csv', sep=',')

In [25]:
suwan_c = suwan[suwan.card_tpbuz_nm_2=='커피/음료']

In [26]:
suwan_c.to_csv('C:/Users/Admin/Downloads/경기도_카드_소비_데이터/2024/sw_202401.csv')

In [35]:
card_nm2 = suwan[suwan.card_tpbuz_nm_1=='음식'].groupby('card_tpbuz_nm_2')

In [46]:
list(card_nm2)

[('간이주점',
             ta_ymd  cty_rgn_no  admi_cty_no card_tpbuz_cd card_tpbuz_nm_1  \
  633      20240101       41111     41111560           Q01              음식
  634      20240101       41111     41111560           Q01              음식
  635      20240101       41111     41111560           Q01              음식
  636      20240101       41111     41111560           Q01              음식
  637      20240101       41111     41111560           Q01              음식
  ...           ...         ...          ...           ...             ...
  2418575  20240131       41117     41117610           Q01              음식
  2418576  20240131       41117     41117610           Q01              음식
  2418577  20240131       41117     41117610           Q01              음식
  2418578  20240131       41117     41117610           Q01              음식
  2418579  20240131       41117     41117610           Q01              음식

          card_tpbuz_nm_2  hour sex  age  day     amt  cnt
  633                간이주점     1   F    2    1   66210    2
  634                간이주점     1   F    3    1  229596    2
  635                간이주점     1   F    4    1    6408    2
  636                간이주점     1   M    3    1  369337    4
  637                간이주점     1   M    6    1  228986    5
  ...                 ...   ...  ..  ...  ...     ...  ...
  2418575            간이주점     9   M    7    3   93822    2
  2418576            간이주점    10   F    3    3   21206    2
  2418577            간이주점    10   F    4    3  102975    2
  2418578            간이주점    10   F    6    3  205492    5
  2418579            간이주점    10   M    6    3   42716    2

  [44831 rows x 12 columns]),
 ('고기요리',
             ta_ymd  cty_rgn_no  admi_cty_no card_tpbuz_cd card_tpbuz_nm_1  \
  659      20240101       41111     41111560           Q02              음식
  660      20240101       41111     41111560           Q02              음식
  661      20240101       41111     41111560           Q02              음식
  662      20240101       41111     41111560           Q02              음식
  663      20240101       41111     41111560           Q02              음식
  ...           ...         ...          ...           ...             ...
  2418618  20240131       41117     41117610           Q02              음식
  2418619  20240131       41117     41117610           Q02              음식
  2418620  20240131       41117     41117610           Q02              음식
  2418621  20240131       41117     41117610           Q02              음식
  2418622  20240131       41117     41117610           Q02              음식

          card_tpbuz_nm_2  hour sex  age  day     amt  cnt
  659                고기요리     3   F    7    1   53825    2
  660                고기요리     4   F    6    1    3265    2
  661                고기요리     4   M    5    1   14428    2
  662                고기요리     5   F    5    1  106033    2
  663                고기요리     5   F    6    1  205350    4
  ...                 ...   ...  ..  ...  ...     ...  ...
  2418618            고기요리     9   F    6    3   48197    2
  2418619            고기요리     9   M    3    3  300249    5
  2418620            고기요리     9   M    4    3  251835    5
  2418621            고기요리     9   M    5    3  629665    4
  2418622            고기요리     9   M    6    3  619030    5

  [64203 rows x 12 columns]),
 ('닭/오리요리',
             ta_ymd  cty_rgn_no  admi_cty_no card_tpbuz_cd card_tpbuz_nm_1  \
  702      20240101       41111     41111560           Q03              음식
  703      20240101       41111     41111560           Q03              음식
  704      20240101       41111     41111560           Q03              음식
  705      20240101       41111     41111560           Q03              음식
  706      20240101       41111     41111560           Q03              음식
  ...           ...         ...          ...           ...             ...
  2418651  20240131       41117     41117610           Q03              음식
  2418652  20240131       41117     41117610           Q03              음식
  2418653  20240131       41117     41117610           Q03              음식
  2418654  20240131       41117     41117610           Q03              음식
  2418655  20240131       41117     41117610           Q03              음식

          card_tpbuz_nm_2  hour sex  age  day     amt  cnt
  702              닭/오리요리     1   M    5    1   55505    2
  703              닭/오리요리     3   M    4    1   53796    2
  704              닭/오리요리     3   M    7    1   56400    2
  705              닭/오리요리     4   F    5    1  433627    5
  706              닭/오리요리     4   F    6    1  107740    4
  ...                 ...   ...  ..  ...  ...     ...  ...
  2418651          닭/오리요리     9   M    8    3   29849    2
  2418652          닭/오리요리    10   F    4    3  299908    2
  2418653          닭/오리요리    10   M    3    3   56892    2
  2418654          닭/오리요리    10   M    4    3   56892    2
  2418655          닭/오리요리    10   M    5    3   83365    4

  [64809 rows x 12 columns]),
 ('별식/퓨전요리',
             ta_ymd  cty_rgn_no  admi_cty_no card_tpbuz_cd card_tpbuz_nm_1  \
  762      20240101       41111     41111560           Q04              음식
  763      20240101       41111     41111560           Q04              음식
  764      20240101       41111     41111560           Q04              음식
  765      20240101       41111     41111560           Q04              음식
  766      20240101       41111     41111560           Q04              음식
  ...           ...         ...          ...           ...             ...
  2418687  20240131       41117     41117610           Q04              음식
  2418688  20240131       41117     41117610           Q04              음식
  2418689  20240131       41117     41117610           Q04              음식
  2418690  20240131       41117     41117610           Q04              음식
  2418691  20240131       41117     41117610           Q04              음식

          card_tpbuz_nm_2  hour sex  age  day     amt  cnt
  762             별식/퓨전요리     3   M    5    1   26068    2
  763             별식/퓨전요리     4   F    5    1   91235    2
  764             별식/퓨전요리     4   F    6    1   91235    4
  765             별식/퓨전요리     4   F    8    1   60281    2
  766             별식/퓨전요리     4   M    3    1   48876    2
  ...                 ...   ...  ..  ...  ...     ...  ...
  2418687         별식/퓨전요리     8   M    4    3   61910    4
  2418688         별식/퓨전요리     8   M    5    3   81537    4
  2418689         별식/퓨전요리     8   M    7    3   16292    2
  2418690         별식/퓨전요리     9   F    6    3   13034    2
  2418691         별식/퓨전요리     9   M    5    3  101571    4

  [60281 rows x 12 columns]),
 ('부페',
             ta_ymd  cty_rgn_no  admi_cty_no card_tpbuz_cd card_tpbuz_nm_1  \
  785      20240101       41111     41111560           Q05              음식
  786      20240101       41111     41111560           Q05              음식
  787      20240101       41111     41111560           Q05              음식
  21943    20240101       41113     41113650           Q05              음식
  21944    20240101       41113     41113650           Q05              음식
  ...           ...         ...          ...           ...             ...
  2418692  20240131       41117     41117610           Q05              음식
  2418693  20240131       41117     41117610           Q05              음식
  2418694  20240131       41117     41117610           Q05              음식
  2418695  20240131       41117     41117610           Q05              음식
  2418696  20240131       41117     41117610           Q05              음식

          card_tpbuz_nm_2  hour sex  age  day     amt  cnt
  785                  부페     7   M    6    1  131090    2
  786                  부페     8   F    5    1  151668    2
  787                  부페     9   F    4    1   80534    2
  21943                부페     2   M    5    1   38108    2
  21944                부페     3   F    7    1   50810    2
  ...                 ...   ...  ..  ...  ...     ...  ...
  2418692              부페     4   F    3    3   13497    2
  2418693              부페     4   M    3    3   40490    4
  2418694              부페     4   M    5    3   67673    5
  2418695              부페     4   M    6    3   53986    4
  2418696              부페     4   M    8    3   67482    4

  [11570 rows x 12 columns]),
 ('분식',
             ta_ymd  cty_rgn_no  admi_cty_no card_tpbuz_cd card_tpbuz_nm_1  \
  788      20240101       41111     41111560           Q06              음식
  789      20240101       41111     41111560           Q06              음식
  790      20240101       41111     41111560           Q06              음식
  791      20240101       41111     41111560           Q06              음식
  792      20240101       41111     41111560           Q06              음식
  ...           ...         ...          ...           ...             ...
  2418753  20240131       41117     41117610           Q06              음식
  2418754  20240131       41117     41117610           Q06              음식
  2418755  20240131       41117     41117610           Q06              음식
  2418756  20240131       41117     41117610           Q06              음식
  2418757  20240131       41117     41117610           Q06              음식

          card_tpbuz_nm_2  hour sex  age  day     amt  cnt
  788                  분식     3   M    4    1   27552    2
  789                  분식     3   M    7    1   22192    2
  790                  분식     4   F    3    1   20259    2
  791                  분식     4   F    4    1   21818    2
  792                  분식     4   F    5    1   18701    2
  ...                 ...   ...  ..  ...  ...     ...  ...
  2418753              분식     8   M    5    3   26493    2
  2418754              분식     8   M    6    3  172728    5
  2418755              분식     8   M    7    3    3429    2
  2418756              분식     9   F    5    3    7979    2
  2418757              분식     9   M    8    3   79290    2

  [90819 rows x 12 columns]),
 ('양식',
             ta_ymd  cty_rgn_no  admi_cty_no card_tpbuz_cd card_tpbuz_nm_1  \
  816      20240101       41111     41111560           Q07              음식
  2808     20240101       41111     41111566           Q07              음식
  2809     20240101       41111     41111566           Q07              음식
  2810     20240101       41111     41111566           Q07              음식
  2811     20240101       41111     41111566           Q07              음식
  ...           ...         ...          ...           ...             ...
  2418789  20240131       41117     41117610           Q07              음식
  2418790  20240131       41117     41117610           Q07              음식
  2418791  20240131       41117     41117610           Q07              음식
  2418792  20240131       41117     41117610           Q07              음식
  2418793  20240131       41117     41117610           Q07              음식

          card_tpbuz_nm_2  hour sex  age  day      amt  cnt
  816                  양식     7   M    7    1    91873    2
  2808                 양식     1   M    3    1   117138    3
  2809                 양식     1   M    4    1   288063    3
  2810                 양식     1   M    5    1   529031    2
  2811                 양식     4   F    3    1    20021    2
  ...                 ...   ...  ..  ...  ...      ...  ...
  2418789              양식     8   M    3    3   479095    3
  2418790              양식     8   M    4    3  1251457   11
  2418791              양식     8   M    5    3  1100165   11
  2418792              양식     8   M    6    3   919406    5
  2418793              양식     9   M    6    3   563694    3

  [31779 rows x 12 columns]),
 ('유흥주점',
             ta_ymd  cty_rgn_no  admi_cty_no card_tpbuz_cd card_tpbuz_nm_1  \
  817      20240101       41111     41111560           Q08              음식
  818      20240101       41111     41111560           Q08              음식
  3942     20240101       41111     41111571           Q08              음식
  3943     20240101       41111     41111571           Q08              음식
  3944     20240101       41111     41111571           Q08              음식
  ...           ...         ...          ...           ...             ...
  2418794  20240131       41117     41117610           Q08              음식
  2418795  20240131       41117     41117610           Q08              음식
  2418796  20240131       41117     41117610           Q08              음식
  2418797  20240131       41117     41117610           Q08              음식
  2418798  20240131       41117     41117610           Q08              음식

          card_tpbuz_nm_2  hour sex  age  day     amt  cnt
  817                유흥주점     1   M    3    1  463307    4
  818                유흥주점     1   M    8    1  565871    2
  3942               유흥주점     4   F    5    1   37631    6
  3943               유흥주점     5   M    5    1   11884    2
  3944               유흥주점     9   M    5    1  525199    2
  ...                 ...   ...  ..  ...  ...     ...  ...
  2418794            유흥주점     4   M    4    3   17684    2
  2418795            유흥주점     5   M    5    3   17684    2
  2418796            유흥주점     6   F    6    3    9054    2
  2418797            유흥주점     6   M    4    3   17684    2
  2418798            유흥주점     8   F    5    3   17684    2

  [6579 rows x 12 columns]),
 ('음식배달서비스',
             ta_ymd  cty_rgn_no  admi_cty_no card_tpbuz_cd card_tpbuz_nm_1  \
  7005     20240101       41111     41111573           Q09              음식
  7006     20240101       41111     41111573           Q09              음식
  7007     20240101       41111     41111573           Q09              음식
  7008     20240101       41111     41111573           Q09              음식
  7009     20240101       41111     41111573           Q09              음식
  ...           ...         ...          ...           ...             ...
  2416438  20240131       41117     41117600           Q09              음식
  2416439  20240131       41117     41117600           Q09              음식
  2416440  20240131       41117     41117600           Q09              음식
  2418799  20240131       41117     41117610           Q09              음식
  2418800  20240131       41117     41117610           Q09              음식

          card_tpbuz_nm_2  hour sex  age  day     amt  cnt
  7005            음식배달서비스     1   F    2    1   76863    2
  7006            음식배달서비스     1   F    3    1  120496    5
  7007            음식배달서비스     1   F    5    1   45341    2
  7008            음식배달서비스     1   F    6    1  199629    4
  7009            음식배달서비스     1   M    3    1  268576    7
  ...                 ...   ...  ..  ...  ...     ...  ...
  2416438         음식배달서비스     9   F    4    3  313004    2
  2416439         음식배달서비스     9   M    4    3  554861    7
  2416440         음식배달서비스    10   M    3    3  303468    4
  2418799         음식배달서비스     4   F    5    3  110527    2
  2418800         음식배달서비스     8   M    6    3  176471    2

  [1669 rows x 12 columns]),
 ('일식/수산물',
             ta_ymd  cty_rgn_no  admi_cty_no card_tpbuz_cd card_tpbuz_nm_1  \
  819      20240101       41111     41111560           Q10              음식
  820      20240101       41111     41111560           Q10              음식
  821      20240101       41111     41111560           Q10              음식
  822      20240101       41111     41111560           Q10              음식
  823      20240101       41111     41111560           Q10              음식
  ...           ...         ...          ...           ...             ...
  2418838  20240131       41117     41117610           Q10              음식
  2418839  20240131       41117     41117610           Q10              음식
  2418840  20240131       41117     41117610           Q10              음식
  2418841  20240131       41117     41117610           Q10              음식
  2418842  20240131       41117     41117610           Q10              음식

          card_tpbuz_nm_2  hour sex  age  day      amt  cnt
  819              일식/수산물     3   M    5    1    22978    2
  820              일식/수산물     3   M    6    1    15319    2
  821              일식/수산물     4   F    4    1    45956    2
  822              일식/수산물     4   F    5    1   130791    4
  823              일식/수산물     4   F    6    1   734069    7
  ...                 ...   ...  ..  ...  ...      ...  ...
  2418838          일식/수산물     8   M    4    3   149326    8
  2418839          일식/수산물     8   M    5    3   227577    7
  2418840          일식/수산물     8   M    6    3  1120221   11
  2418841          일식/수산물     9   M    4    3   413603    2
  2418842          일식/수산물     9   M    5    3   743138    4

  [62307 rows x 12 columns]),
 ('제과/제빵/떡/케익',
             ta_ymd  cty_rgn_no  admi_cty_no card_tpbuz_cd card_tpbuz_nm_1  \
  861      20240101       41111     41111560           Q11              음식
  862      20240101       41111     41111560           Q11              음식
  863      20240101       41111     41111560           Q11              음식
  864      20240101       41111     41111560           Q11              음식
  865      20240101       41111     41111560           Q11              음식
  ...           ...         ...          ...           ...             ...
  2418924  20240131       41117     41117610           Q11              음식
  2418925  20240131       41117     41117610           Q11              음식
  2418926  20240131       41117     41117610           Q11              음식
  2418927  20240131       41117     41117610           Q11              음식
  2418928  20240131       41117     41117610           Q11              음식

          card_tpbuz_nm_2  hour sex  age  day     amt  cnt
  861          제과/제빵/떡/케익     2   F    5    1   25958    2
  862          제과/제빵/떡/케익     2   M    6    1   24660    2
  863          제과/제빵/떡/케익     3   F    4    1  126139   10
  864          제과/제빵/떡/케익     3   F    5    1  170928    9
  865          제과/제빵/떡/케익     3   F    6    1  196600   10
  ...                 ...   ...  ..  ...  ...     ...  ...
  2418924      제과/제빵/떡/케익     9   M    3    3    4219    2
  2418925      제과/제빵/떡/케익     9   M    4    3    6652    5
  2418926      제과/제빵/떡/케익     9   M    5    3   30203    7
  2418927      제과/제빵/떡/케익     9   M    6    3   33128    5
  2418928      제과/제빵/떡/케익    10   F    3    3   25114    4

  [102205 rows x 12 columns]),
 ('중식',
             ta_ymd  cty_rgn_no  admi_cty_no card_tpbuz_cd card_tpbuz_nm_1  \
  932      20240101       41111     41111560           Q12              음식
  933      20240101       41111     41111560           Q12              음식
  934      20240101       41111     41111560           Q12              음식
  935      20240101       41111     41111560           Q12              음식
  936      20240101       41111     41111560           Q12              음식
  ...           ...         ...          ...           ...             ...
  2418968  20240131       41117     41117610           Q12              음식
  2418969  20240131       41117     41117610           Q12              음식
  2418970  20240131       41117     41117610           Q12              음식
  2418971  20240131       41117     41117610           Q12              음식
  2418972  20240131       41117     41117610           Q12              음식

          card_tpbuz_nm_2  hour sex  age  day     amt  cnt
  932                  중식     3   F    7    1   25032    2
  933                  중식     3   M    5    1   13298    2
  934                  중식     4   F    2    1   39112    2
  935                  중식     4   F    3    1   40676    2
  936                  중식     4   F    4    1  198530    5
  ...                 ...   ...  ..  ...  ...     ...  ...
  2418968              중식     8   M    7    3   60827    4
  2418969              중식     9   F    4    3   82604    2
  2418970              중식     9   F    6    3   21825    4
  2418971              중식     9   M    6    3   10404    2
  2418972              중식     9   M    7    3   11312    2

  [52028 rows x 12 columns]),
 ('커피/음료',
             ta_ymd  cty_rgn_no  admi_cty_no card_tpbuz_cd card_tpbuz_nm_1  \

In [53]:
group_names = list(card_nm2.groups.keys())

In [54]:
group_names

['간이주점',
 '고기요리',
 '닭/오리요리',
 '별식/퓨전요리',
 '부페',
 '분식',
 '양식',
 '유흥주점',
 '음식배달서비스',
 '일식/수산물',
 '제과/제빵/떡/케익',
 '중식',
 '커피/음료',
 '패스트푸드',
 '한식',
 '휴게소/대형업체']