In [6]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

# 1. 데이터셋

In [35]:
import pandas as pd
df = pd.read_csv('c:/ai/source/01_python/data/ch13_df_결측치처리전.csv')
df.isna().sum()

지역명        0
평당분양가격    26
연도         0
월          0
dtype: int64

In [2]:
df_new = df.dropna()

In [3]:
df_new.isna().sum()

지역명       0
평당분양가격    0
연도        0
월         0
dtype: int64

In [7]:
df_new.to_csv('c:/ai/source/01_python/data/ch13_df_결측치처리후.csv')

In [36]:
df_new.head()

  지역명   평당분양가격    연도   월  지역명2   지역명2m  연도m   월m   평당분양가격m
0  서울  18189.0  2013  12     8  0.5000  0.0  1.0  0.328198
1  부산   8111.0  2013  12     7  0.4375  0.0  1.0  0.065274
2  대구   8080.0  2013  12     5  0.3125  0.0  1.0  0.064466
3  인천  10204.0  2013  12    11  0.6875  0.0  1.0  0.119878
4  광주   6098.0  2013  12     4  0.2500  0.0  1.0  0.012757

In [38]:
df = pd.read_csv('c:/ai/source/01_python/data/ch13_df_결측치처리후.csv')
df.head()

   Unnamed: 0 지역명   평당분양가격    연도   월
0           0  서울  18189.0  2013  12
1           1  부산   8111.0  2013  12
2           2  대구   8080.0  2013  12
3           3  인천  10204.0  2013  12
4           4  광주   6098.0  2013  12

 - 지역명2 : 지역명필드를 라벨인코딩하여 추가
 - 독립변수 : 지역명2, 연도, 월
 - 타겟변수 : 평당분양가격
 - 독립변수와 타겟변수의 스케일 조정
     - 정규화(MinMaxScaler) 작업후 : 지역명2m, 연도m, 월m
     - 표준화(StandardScaler) 작업후 : 지역명2s, 연도s, 월s => 지역명, 연도, 월, 지역명2, 지역명2m, 연도m, 월m, 지역명2s, 연도s, 월s

# 2. 지역명의 라벨인코딩
 - 지역명2

In [28]:
df.지역명

0       서울
1       부산
2       대구
3       인천
4       광주
        ..
2171    전북
2172    전남
2173    경북
2174    경남
2175    제주
Name: 지역명, Length: 2150, dtype: object

In [39]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
#le.fit(df.지역명)
#le.transform(df.지역명)
df['지역명2'] = le.fit_transform(df.지역명) #문자는 가나다순으로 정렬 후 숫자 변환
df.head()

   Unnamed: 0 지역명   평당분양가격    연도   월  지역명2
0           0  서울  18189.0  2013  12     8
1           1  부산   8111.0  2013  12     7
2           2  대구   8080.0  2013  12     5
3           3  인천  10204.0  2013  12    11
4           4  광주   6098.0  2013  12     4

# 3. MinMaxScale조정

In [40]:
X_data = df[['지역명2', '연도','월']].values # numpy배열로 추출한 독립변수
y_data = df[['평당분양가격']].values
#y_data = df[['평당분양가격']].to_numpy() #Dataframe을 numpy배열로 변환
X_data.shape, y_data.shape

((2150, 3), (2150, 1))

In [18]:
X_data

array([[   8, 2013,   12],
       [   7, 2013,   12],
       [   5, 2013,   12],
       ...,
       [   3, 2024,    8],
       [   2, 2024,    8],
       [  14, 2024,    8]], dtype=int64)

In [19]:
y_data

array([[18189. ],
       [ 8111. ],
       [ 8080. ],
       ...,
       [13827. ],
       [13252.8],
       [25419.9]])

In [41]:
from sklearn.preprocessing import MinMaxScaler
scaler_x = MinMaxScaler()
scaler_y = MinMaxScaler()
df[['지역명2m', '연도m','월m']] = scaler_x.fit_transform(X_data)
df[['평당분양가격m']] = scaler_y.fit_transform(y_data)
df.head()

   Unnamed: 0 지역명   평당분양가격    연도   월  지역명2   지역명2m  연도m   월m   평당분양가격m
0           0  서울  18189.0  2013  12     8  0.5000  0.0  1.0  0.328198
1           1  부산   8111.0  2013  12     7  0.4375  0.0  1.0  0.065274
2           2  대구   8080.0  2013  12     5  0.3125  0.0  1.0  0.064466
3           3  인천  10204.0  2013  12    11  0.6875  0.0  1.0  0.119878
4           4  광주   6098.0  2013  12     4  0.2500  0.0  1.0  0.012757

# 4. StandardScale 조정

In [42]:
from sklearn.preprocessing import StandardScaler
scaler_x = StandardScaler()
scaler_y = StandardScaler()
df[['지역명2s', '연도s','월s']] = scaler_x.fit_transform(X_data)
df[['평당분양가격s']] = scaler_y.fit_transform(y_data)
df.head()

,Unnamed: 0,지역명,평당분양가격,연도,월,지역명2,지역명2m,연도m,월m,평당분양가격m,지역명2s,연도s,월s,평당분양가격s
0,0,서울,18189.0,2013,12,8,0.5000,0.0,1.0,0.328198,0.002172,-1.867611,1.618691,1.172081
1,1,부산,8111.0,2013,12,7,0.4375,0.0,1.0,0.065274,-0.200879,-1.867611,1.618691,-0.722816
2,2,대구,8080.0,2013,12,5,0.3125,0.0,1.0,0.064466,-0.606981,-1.867611,1.618691,-0.728645
3,3,인천,10204.0,2013,12,11,0.6875,0.0,1.0,0.119878,0.611326,-1.867611,1.618691,-0.329284
4,4,광주,6098.0,2013,12,4,0.2500,0.0,1.0,0.012757,-0.810033,-1.867611,1.618691,-1.101307

In [44]:
max(df.지역명2)

16

# 5. 지역명을 원핫인코딩
 - 강원 0 => 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 - 서울 8 => 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0

In [45]:
df.loc[:16, ['지역명', '지역명2']].sort_values(by='지역명2')

   지역명  지역명2
9   강원     0
7   경기     1
15  경남     2
14  경북     3
4   광주     4
2   대구     5
5   대전     6
1   부산     7
0   서울     8
8   세종     9
6   울산    10
3   인천    11
13  전남    12
12  전북    13
16  제주    14
11  충남    15
10  충북    16

In [46]:
loc = df.loc[:16, ['지역명', '지역명2']].sort_values(by='지역명2')['지역명'].tolist()
print(loc) # 원핫인코딩 후 열이름

['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '세종', '울산', '인천', '전남', '전북', '제주', '충남', '충북']

In [52]:
from tensorflow.keras.utils import to_categorical
import pandas as pd
import numpy as np
# to_categorical()결과는 numpy 배열, 최대정수가 16이면 0~16카테고리로 원핫인코딩, 매개변수에 라벨인코딩된 값
# pd.get_dummies()결과는 데이터프레임, 정수가 곧 카테고리가 되서 원핫인코딩, 매개변수에 문자(라벨인코딩안 된 값)
temp1 = to_categorical(df.지역명2) # 결과는 numpy배열
temp2 = pd.get_dummies(df.지역명) # 결과는 Dataframe , 지역명도 사용가능
np.all(temp1 == temp2)

True

In [63]:
# 원핫인코딩 방법1
df[loc] = to_categorical(df['지역명2'])
pd.options.display.max_columns = 30
df[loc].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2150 entries, 0 to 2149
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   강원      2150 non-null   float32
 1   경기      2150 non-null   float32
 2   경남      2150 non-null   float32
 3   경북      2150 non-null   float32
 4   광주      2150 non-null   float32
 5   대구      2150 non-null   float32
 6   대전      2150 non-null   float32
 7   부산      2150 non-null   float32
 8   서울      2150 non-null   float32
 9   세종      2150 non-null   float32
 10  울산      2150 non-null   float32
 11  인천      2150 non-null   float32
 12  전남      2150 non-null   float32
 13  전북      2150 non-null   float32
 14  제주      2150 non-null   float32
 15  충남      2150 non-null   float32
 16  충북      2150 non-null   float32
dtypes: float32(17)
memory usage: 142.9 KB

In [64]:
df[loc] = df[loc].astype(np.int16)
df[loc]

      강원  경기  경남  경북  광주  대구  대전  부산  서울  세종  울산  인천  전남  전북  제주  충남  충북
0      0   0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0
1      0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0
2      0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
3      0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0
4      0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
2145   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0
2146   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0
2147   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0
2148   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0
2149   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0

[2150 rows x 17 columns]

In [65]:
df.head()

,Unnamed: 0,지역명,평당분양가격,연도,월,지역명2,지역명2m,연도m,월m,평당분양가격m,지역명2s,연도s,월s,평당분양가격s,지역명,...,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
0,0,서울,18189.0,2013,12,8,0.5000,0.0,1.0,0.328198,0.002172,-1.867611,1.618691,1.172081,1.0,...,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,1,부산,8111.0,2013,12,7,0.4375,0.0,1.0,0.065274,-0.200879,-1.867611,1.618691,-0.722816,NaN,...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,2,대구,8080.0,2013,12,5,0.3125,0.0,1.0,0.064466,-0.606981,-1.867611,1.618691,-0.728645,NaN,...,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,3,인천,10204.0,2013,12,11,0.6875,0.0,1.0,0.119878,0.611326,-1.867611,1.618691,-0.329284,NaN,...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,4,광주,6098.0,2013,12,4,0.2500,0.0,1.0,0.012757,-0.810033,-1.867611,1.618691,-1.101307,NaN,...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [62]:
# 원핫인코딩 방법2
df[loc] = pd.get_dummies(df['지역명2'])
df.head(1)

,Unnamed: 0,지역명,평당분양가격,연도,월,지역명2,지역명2m,연도m,월m,평당분양가격m,지역명2s,연도s,월s,평당분양가격s,지역명,...,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
0,0,서울,18189.0,2013,12,8,0.5,0.0,1.0,0.328198,0.002172,-1.867611,1.618691,1.172081,1.0,...,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0

In [61]:
# 원핫인코딩 데이터 지우기
df = df.drop(loc,axis=1 )
df.head()

KeyError: "['강원' '경기' '경남' '경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북'\n '제주' '충남' '충북'] not found in axis"

In [60]:
# 원핫인코딩 방법3
df = pd.concat([df, pd.get_dummies(df['지역명'])], axis=1)
df.sample(2)

,Unnamed: 0,지역명,평당분양가격,연도,월,지역명2,지역명2m,연도m,월m,평당분양가격m,지역명2s,연도s,월s,평당분양가격s,지역명,...,지역명_경남,지역명_경북,지역명_광주,지역명_대구,지역명_대전,지역명_부산,지역명_서울,지역명_세종,지역명_울산,지역명_인천,지역명_전남,지역명_전북,지역명_제주,지역명_충남,지역명_충북
1690,1705,광주,14991.9,2022,5,4,0.2500,0.818182,0.363636,0.244789,-0.810033,1.030871,-0.407871,0.570952,NaN,...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
830,830,경북,8055.3,2018,1,3,0.1875,0.454545,0.000000,0.063821,-1.013084,-0.257343,-1.565906,-0.733289,NaN,...,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0